<dx-scroll-view
  [bounceEnabled]="true"
  [scrollByContent]="true"
  [scrollByThumb]="true"
>
  <div class="img-container">
    <img [src]="imageData?.url" alt="..." />
  </div>
  <form id="instructor-form-container" [classList]="['instructor-form']">
    <dx-form id="instructor-form" [formData]="instructorData" [readOnly]="true">
      <dxi-item itemType="group" caption="Personal Information">
        <dxi-item name="fullName">
          <dxo-label text="Full Name"></dxo-label>
          <div *dxTemplate>
            <div class="responsive-field">
              {{ instructorData?.fullName }}
            </div>
          </div>
        </dxi-item>
        <dxi-item dataField="gender" [label]="{ text: 'Gender' }"> </dxi-item>
        <dxi-item dataField="age" [label]="{ text: 'Age' }"> </dxi-item>
        <dxi-item dataField="role" [label]="{ text: 'Role' }"> </dxi-item>
        <dxi-item dataField="department" [label]="{ text: 'Department' }">
        </dxi-item>
        <dxi-item
          dataField="yearsOfExperience"
          [label]="{ text: 'Years of experience' }"
        >
        </dxi-item>
        <dxi-item name="description">
          <dxo-label text="Description"></dxo-label>
          <div *dxTemplate>
            <div class="responsive-field">
              {{ instructorData?.description }}
            </div>
          </div>
        </dxi-item>
      </dxi-item>
    </dx-form>
  </form>
</dx-scroll-view>
