<dx-toolbar
  [ngStyle]="{
    paddingLeft: '25px',
    marginBottom: '5px'
  }"
>
  <dxi-item [location]="'before'" [text]="courseData.name"> </dxi-item>
  <dxi-item location="center" [locateInMenu]="'auto'">
    <dx-button
      style="width: 150px; border-radius: 5px"
      [text]="'Activity'"
      (onClick)="navigatePost()"
      [icon]="'edit'"
    ></dx-button>
  </dxi-item>
  <dxi-item location="center" [locateInMenu]="'auto'">
    <dx-button
      style="width: 150px; border-radius: 5px"
      [text]="'Test'"
      (onClick)="navigateTest()"
      [icon]="'edit'"
    ></dx-button>
  </dxi-item>
  <dxi-item location="center" [locateInMenu]="'auto'">
    <dx-button
      style="width: 150px; border-radius: 5px"
      [text]="'Practice'"
      (onClick)="navigatePractice()"
      [icon]="'edit'"
    ></dx-button>
  </dxi-item>
  <dxi-item location="center" [locateInMenu]="'auto'">
    <dx-button
      style="width: 150px; border-radius: 5px"
      [text]="'Member'"
      (onClick)="navigateMember()"
      [icon]="'edit'"
    ></dx-button>
  </dxi-item>
  <dxi-item location="center" [locateInMenu]="'auto'">
    <dx-button
      style="width: 150px; border-radius: 5px"
      [text]="'Chat Room'"
      (onClick)="navigateChat()"
      [icon]="'edit'"
    ></dx-button>
  </dxi-item>
  <dxi-item location="after" locateInMenu="auto">
    <dx-button
      icon="arrowright"
      type="outline"
      text="To Subject"
      hint="Navigate to schedule list "
      (onClick)="navigateToScheduleList()"
    >
    </dx-button>
  </dxi-item>
</dx-toolbar>
<router-outlet name="conditionOutlet"></router-outlet>
