<div
  style="
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    font-size: large;
    font-weight: bold;
  "
  *ngIf="!currentCourseId"
>
  There is no streaming at the moment. Please join one to continue.
</div>
<div class="classroom-container" *ngIf="currentCourseId">
  <div class="time-counter neon">{{ lastingTime }}</div>
  <div class="session-user shadow">
    <ng-container *ngIf="chatUserList.length">
      <dx-gallery
        [dataSource]="chatUserList"
        [height]="'100%'"
        [loop]="false"
        [width]="'100%'"
        [initialItemWidth]="100"
        [showNavButtons]="true"
        [showIndicator]="false"
      >
        <div class="participant shadow" *dxTemplate="let item of 'item'">
          <div class="participant-img">
            <img [src]="mapFileListToUrl(item?.id)" alt="..." />
          </div>
          <div class="display-name">
            {{ item?.displayName }}
          </div>
        </div>
      </dx-gallery>
    </ng-container>
  </div>
  <div class="session-blackboard box-shadow">
    <ng-container *ngIf="blackBoard.length">
      <dx-gallery
        [dataSource]="blackBoard"
        [height]="'100%'"
        [loop]="false"
        [width]="'80%'"
        [showNavButtons]="true"
        [showIndicator]="false"
        [initialItemWidth]="isShowingLesson ? '400' : '80%'"
      >
        <div *dxTemplate="let item of 'item'; index as i">
          <ng-container *ngIf="isShowingLesson">
            <div
              [ngClass]="{
                'asset-container': item?.isFront === true,
                'asset-container-flip': item?.isFront === false
              }"
            >
              <div class="asset-card">
                <div class="lesson-title">Flashcard {{ i + 1 }}</div>
                <div class="asset-front" *ngIf="item?.isFront === true">
                  <div class="asset-title">
                    {{ item?.name }}
                  </div>
                  <div class="asset-body">
                    <dx-html-editor
                      readOnly="true"
                      [value]="item?.frontText"
                      [height]="'90%'"
                      [width]="'100%'"
                    >
                      <dxo-media-resizing [enabled]="true">
                      </dxo-media-resizing>
                    </dx-html-editor>
                  </div>
                </div>
                <div class="asset-back" *ngIf="item?.isFront === false">
                  <div class="asset-body">
                    <dx-html-editor
                      readOnly="true"
                      [height]="'100%'"
                      [width]="'100%'"
                      [value]="item?.backText"
                    >
                      <dxo-media-resizing [enabled]="true">
                      </dxo-media-resizing>
                    </dx-html-editor>
                  </div>
                </div>
                <div class="asset-button">
                  <dx-button
                    icon="refresh"
                    type="normal"
                    hint="Click to flip"
                    (onClick)="flipLesson(item.id, !item.isFront)"
                  ></dx-button>
                  <dx-button
                    icon="trash"
                    type="normal"
                    hint="Click to delete"
                    (onClick)="removeLesson(item.id)"
                  ></dx-button>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="isShowingQuestion">
            <div
              [ngClass]="{
                'question-container': isShowingAnswer === false,
                'question-container-flip': isShowingAnswer === true
              }"
            >
              <div class="question-card">
                <div class="question-front">
                  <div class="question-title">Question</div>
                  <div class="question-body">
                    <dx-html-editor
                      readOnly="true"
                      [value]="item?.content"
                      [height]="'90%'"
                      [width]="'100%'"
                    >
                      <dxo-media-resizing [enabled]="true">
                      </dxo-media-resizing>
                    </dx-html-editor>
                  </div>
                </div>
                <div class="asset-button">
                  <dx-button
                    icon="upload"
                    type="normal"
                    hint="Click to show answer choice"
                    (onClick)="showAnswerChoice(!isShowingAnswer)"
                  ></dx-button>
                  <dx-button
                    icon="check"
                    type="normal"
                    hint="Click to show correct answer"
                    (onClick)="showCorrectAnswer(!isShowingCorrectAnswer)"
                  ></dx-button>
                </div>
              </div>
              <div class="answer-container" *ngIf="isShowingAnswer === true">
                <div class="answer-menu-title">Answer Choices</div>
                <div *ngFor="let answer of item?.answerResponses; index as i">
                  <dx-button
                    [ngClass]="{
                      'answer-body': isShowingAnswer === true,
                      'answer-body-correct':
                        isShowingCorrectAnswer === true &&
                        answer.isCorrect === true
                    }"
                  >
                    <div class="answer-number neon">
                      {{ (i + 1 + 9).toString(36).toUpperCase() }}
                    </div>
                    <dx-html-editor
                      readOnly="true"
                      [value]="answer?.content"
                      [height]="150"
                      [width]="150"
                    >
                      <dxo-media-resizing [enabled]="true">
                      </dxo-media-resizing>
                    </dx-html-editor>
                  </dx-button>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </dx-gallery>
    </ng-container>
  </div>
  <ng-container *ngIf="isShowingQuestion">
    <div class="result-view box-shadow">
      <div class="result-title">Test Result</div>
      <div
        *ngIf="!resultBoard"
        style="
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 30px;
          font-size: medium;
        "
      >
        Waiting for learners' answer...
      </div>
      <dx-scroll-view
        [scrollByContent]="true"
        [scrollByThumb]="true"
        bounceEnabled="true"
        [height]="310"
        [width]="350"
      >
        <div
          class="result-card shadow"
          *ngFor="let item of resultBoard; index as i"
        >
          <div class="result-front">
            <div class="result-user">
              {{ i + 1 }}. {{ item?.userAccountResponse.displayName }}
            </div>
            <div class="result-img">
              <img
                [src]="mapFileListToUrl(item?.userAccountResponse.id)"
                alt="..."
                style="height: 100%; width: 100%"
              />
            </div>
            <div class="result-body">
              <div class="answer-container shadow">
                Choice:
                <dx-html-editor
                  readOnly="true"
                  [value]="
                    item?.questionResponses[0].answerResponses[0].content
                  "
                  [height]="'100%'"
                  [width]="'100%'"
                >
                  <dxo-media-resizing [enabled]="true"> </dxo-media-resizing>
                </dx-html-editor>
              </div>
              <div class="answer-container shadow">
                Score: {{ item?.score }}
              </div>
            </div>
          </div>
          <div class="asset-button">
            <dx-button
              icon="upload"
              type="normal"
              hint="Click to invite for presenting"
              (onClick)="
                invitePresenting(
                  {
                    id: item?.userAccountResponse.id,
                    displayName: item?.userAccountResponse.displayName
                  },
                  !isPresenting
                )
              "
            ></dx-button>
            <dx-button
              icon="arrowright"
              type="normal"
              hint="Click to send private message"
              (onClick)="
                privateMessage({
                  id: item?.userAccountResponse.id,
                  displayName: item?.userAccountResponse.displayName
                })
              "
            ></dx-button>
          </div>
        </div>
      </dx-scroll-view>
    </div>
  </ng-container>
  <div class="session-instructor">
    <div class="desk">
      <div class="desk-asset-container box-shadow">
        <div class="desk-title">Lesson Asset</div>
        <ng-container *ngIf="assetList.length">
          <dx-gallery
            [dataSource]="assetList"
            [height]="'100%'"
            [loop]="false"
            [width]="'100%'"
            [initialItemWidth]="250"
            [showNavButtons]="true"
            [showIndicator]="false"
          >
            <div *dxTemplate="let item of 'item'; index as i">
              <div class="card-container">
                <div class="card">
                  <div class="card-title">
                    {{ i + 1 }}. {{ item?.asset.name }}
                  </div>
                  <div class="card-title">
                    <dx-html-editor
                      readOnly="true"
                      [value]="item?.asset.content"
                      [height]="'80px'"
                      [width]="'150px'"
                    >
                      <dxo-media-resizing [enabled]="true">
                      </dxo-media-resizing>
                    </dx-html-editor>
                  </div>
                  <div class="card-button">
                    <dx-button
                      icon="upload"
                      type="normal"
                      hint="Click to import to desk"
                      (onClick)="writeBoard(item)"
                    ></dx-button>
                    <dx-button
                      icon="trash"
                      type="normal"
                      hint="Click to remove lesson from desk"
                      (onClick)="removeAsset(item)"
                    ></dx-button>
                  </div>
                </div>
              </div>
            </div>
          </dx-gallery>
        </ng-container>
      </div>
      <div class="desk-asset-container box-shadow">
        <div class="desk-title">Quiz Asset</div>
        <ng-container *ngIf="quizList.length">
          <dx-gallery
            [dataSource]="quizList"
            [height]="'100%'"
            [loop]="false"
            [width]="'100%'"
            [initialItemWidth]="250"
            [showNavButtons]="true"
            [showIndicator]="false"
          >
            <div *dxTemplate="let item of 'item'; index as i">
              <div class="card-container">
                <div class="card">
                  <div class="card-title">
                    {{ i + 1 }}
                  </div>
                  <div class="card-title">
                    <dx-html-editor
                      readOnly="true"
                      [value]="item?.quiz.content"
                      [height]="'80px'"
                      [width]="'150px'"
                    >
                      <dxo-media-resizing [enabled]="true">
                      </dxo-media-resizing>
                    </dx-html-editor>
                  </div>
                  <div class="card-button">
                    <dx-button
                      icon="upload"
                      type="normal"
                      hint="Click to import to desk"
                      (onClick)="writeBoard(item)"
                    ></dx-button>
                    <!-- <dx-button
                      icon="trash"
                      type="normal"
                      hint="Click to remove quiz from desk"
                      (onClick)="removeQuiz(item)"
                    ></dx-button> -->
                  </div>
                </div>
              </div>
            </div>
          </dx-gallery>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<dx-popup
  id="webcam-popup"
  [title]="'Media Setting'"
  [showTitle]="true"
  [shading]="true"
  [position]="'center'"
  [showCloseButton]="true"
  (onHiding)="closePopupSetting()"
  [dragEnabled]="true"
  [height]="'60%'"
  [width]="'40%'"
  [visible]="isPopupSettingVisible"
>
  <div *dxTemplate="let data of 'content'">
    <div *ngIf="!localStream">
      Please grant us permission to access camera and audio.
    </div>
    <div class="media-check">
      <video #localVideo id="localVideo" autoplay></video>
      <div class="media-button">
        <dx-button (onClick)="adjustLocalVideoStream()"
          >On/Off Camera</dx-button
        >
        <dx-button
          [icon]="localStream?.getVideoTracks()[0].enabled ? 'todo' : 'remove'"
        ></dx-button>
        <dx-button (onClick)="adjustLocalAudioStream()">On/Off Micro</dx-button>
        <dx-button
          [icon]="localStream?.getAudioTracks()[0].enabled ? 'todo' : 'remove'"
        ></dx-button>
      </div>
    </div>
  </div>
</dx-popup>
<div class="remote-video-container">
  <ng-container *ngIf="remoteStream">
    <dx-scroll-view
      [scrollByContent]="true"
      [scrollByThumb]="true"
      bounceEnabled="true"
      [height]="340"
      [width]="130"
    >
      <!-- controls -->
      <div class="video-container" *ngFor="let item of remoteStream">
        <video class="remote-video" autoplay [srcObject]="item"></video>
      </div>
    </dx-scroll-view>
  </ng-container>
</div>
<app-chat-message-list
  [chatMessageList]="messageList"
  [sendMessage]="sendMessage"
  [closePopupChat]="closePopupChat"
  [title]="room.name"
  [userEntry]="userEntry"
  [isVisible]="isPopupChatVisible"
></app-chat-message-list>
<app-lesson-list
  [closePopupLesson]="closePopupLesson"
  [insertAsset]="insertAsset"
  [courseId]="currentCourseId"
  [title]="'Lesson List'"
  [isVisible]="isPopupLessonVisible"
></app-lesson-list>
<app-test-list
  [closePopupTest]="closePopupTest"
  [insertQuiz]="insertQuiz"
  [courseId]="currentCourseId"
  [title]="'Test List'"
  [isVisible]="isPopupTestVisible"
></app-test-list>

<dx-speed-dial-action
  icon="tags"
  label="Add Lesson"
  [index]="1"
  (onClick)="openPopupLesson()"
>
</dx-speed-dial-action>
<dx-speed-dial-action
  icon="edit"
  label="Add Question"
  [index]="2"
  (onClick)="openPopupTest()"
>
</dx-speed-dial-action>
<dx-speed-dial-action
  icon="comment"
  label="Show Chat"
  [index]="3"
  (onClick)="openPopupChat()"
>
</dx-speed-dial-action>
<dx-speed-dial-action
  icon="tel"
  label="Check Media"
  [index]="4"
  (onClick)="openPopupSetting()"
>
</dx-speed-dial-action>
<dx-speed-dial-action
  icon="runner"
  label="Leave Room"
  [index]="5"
  (onClick)="hangup()"
>
</dx-speed-dial-action>
