<dx-toolbar
  [ngStyle]="{
    paddingLeft: '25px',
    marginBottom: '5px'
  }"
>
  <dxi-item [location]="'before'" [text]="courseData.name"> </dxi-item>
  <dxi-item location="center" [locateInMenu]="'auto'">
    <dx-button
      style="width: 150px; border-radius: 5px"
      [text]="'Activity'"
      (onClick)="navigatePost()"
      [icon]="'event'"
    ></dx-button>
  </dxi-item>
  <dxi-item location="center" [locateInMenu]="'auto'">
    <dx-button
      style="width: 150px; border-radius: 5px"
      [text]="'Lesson'"
      (onClick)="navigateLesson()"
      [icon]="'bookmark'"
    ></dx-button>
  </dxi-item>
  <dxi-item location="center" [locateInMenu]="'auto'">
    <dx-button
      style="width: 150px; border-radius: 5px"
      [text]="'Test'"
      (onClick)="navigateTest()"
      [icon]="'rename'"
    ></dx-button>
  </dxi-item>
  <dxi-item location="center" [locateInMenu]="'auto'">
    <dx-button
      style="width: 150px; border-radius: 5px"
      [text]="'Chat Room'"
      (onClick)="navigateChat()"
      [icon]="'group'"
    ></dx-button>
  </dxi-item>
  <dxi-item location="center" [locateInMenu]="'auto'">
    <dx-button
      style="width: 150px; border-radius: 5px"
      [text]="'Session List'"
      (onClick)="navigateSessionList()"
      [icon]="'globe'"
    ></dx-button>
  </dxi-item>
  <dxi-item location="center" [locateInMenu]="'auto'">
    <dx-button
      style="width: 150px; border-radius: 5px"
      [text]="'Livestream'"
      (onClick)="navigateCurrentSession()"
      [icon]="'video'"
    ></dx-button>
  </dxi-item>
  <dxi-item location="center" [locateInMenu]="'auto'">
    <dx-button
      style="width: 150px; border-radius: 5px"
      [text]="'Asset'"
      (onClick)="navigateAsset()"
      [icon]="'activefolder'"
    ></dx-button>
  </dxi-item>
</dx-toolbar>
<router-outlet name="conditionOutlet"></router-outlet>
