<div class="container">
  <form
    id="user-account-form"
    (submit)="onUserAccountSubmit($event)"
    [classList]="['signupForm']"
  >
    <div class="long-title">
      <h3>Profile Detail</h3>
    </div>
    <dx-form
      [formData]="userAccountData"
      [showValidationSummary]="true"
      validationGroup="userAccountData"
      (onContentReady)="onFormShown($event)"
    >
      <dxi-item itemType="group">
        <dxi-item itemType="group" caption="Account Information">
          <dxi-item itemType="group" colCount="2">
            <dxi-item
              dataField="username"
              [label]="{ text: 'Username' }"
              editorType="dxTextBox"
              [editorOptions]="{ disabled: true }"
            >
            </dxi-item>
            <dxi-item
              dataField="displayName"
              [label]="{ text: 'Display Name' }"
              editorType="dxTextBox"
            >
              <dxi-validation-rule
                type="required"
                message="Display name is required"
              >
              </dxi-validation-rule>
              <dxi-validation-rule
                type="stringLength"
                message="Display name must be from 6 to 20 letters"
                [min]="6"
                [max]="20"
              >
              </dxi-validation-rule>
            </dxi-item>
          </dxi-item>

          <dxi-item itemType="group" [colCount]="2" [cssClass]="'buttonGroup'">
            <dxi-item
              itemType="button"
              horizontalAlignment="center"
              [buttonOptions]="submitUserAccountButtonOptions"
            >
            </dxi-item>
            <dxi-item
              itemType="button"
              horizontalAlignment="center"
              [buttonOptions]="resetUserAccountButtonOptions"
            >
            </dxi-item>
          </dxi-item>
        </dxi-item>
      </dxi-item>
      <dxi-item itemType="group"></dxi-item>
    </dx-form>
  </form>
  <form
    id="password-form"
    (submit)="onUserPasswordSubmit($event)"
    [classList]="['signupForm']"
  >
    <dx-form
      [formData]="userPasswordData"
      [showValidationSummary]="true"
      validationGroup="userPasswordData"
    >
      <dxi-item itemType="group">
        <dxi-item itemType="group" caption="Password Modification">
          <dxi-item itemType="group" colCount="2">
            <dxi-item
              dataField="oldPassword"
              [label]="{ text: 'Current Password' }"
              editorType="dxTextBox"
              [editorOptions]="{ mode: 'password' }"
            >
              <dxi-validation-rule
                type="required"
                message="Current password is required"
              >
              </dxi-validation-rule>
              <dxi-validation-rule
                type="stringLength"
                message="Current password cannot contain more than 12 letters!"
                [min]="1"
              >
              </dxi-validation-rule>
            </dxi-item>
            <dxi-item
              dataField="newPassword"
              [label]="{ text: 'New Password' }"
              editorType="dxTextBox"
              [editorOptions]="{ mode: 'password' }"
            >
              <dxi-validation-rule
                type="required"
                message="New password is required"
              >
              </dxi-validation-rule>
              <dxi-validation-rule
                type="stringLength"
                message="New password must be from 6 to 16 letters"
                [min]="6"
                [max]="16"
              >
              </dxi-validation-rule>
            </dxi-item>
          </dxi-item>
          <dxi-item itemType="group" [colCount]="2" [cssClass]="'buttonGroup'">
            <dxi-item
              itemType="button"
              horizontalAlignment="center"
              [buttonOptions]="submitUserPasswordButtonOptions"
            >
            </dxi-item>
            <dxi-item
              itemType="button"
              horizontalAlignment="center"
              [buttonOptions]="resetUserPasswordButtonOptions"
            >
            </dxi-item>
          </dxi-item>
        </dxi-item>
      </dxi-item>
      <dxi-item itemType="group"></dxi-item>
    </dx-form>
  </form>
  <form
    id="user-info-form"
    (submit)="onUserInfoSubmit($event)"
    [classList]="['signupForm']"
  >
    <dx-form
      [formData]="userInfoData"
      [showValidationSummary]="true"
      validationGroup="userInfoData"
    >
      <dxi-item itemType="group">
        <dxi-item itemType="group" caption="Personal Information">
          <dxi-item name="avatar">
            <div *dxTemplate>
              <div class="file-container">
                <img [src]="fileData.url" alt="..." />
                <input
                  class="img-input"
                  type="file"
                  id="img"
                  accept="image/*"
                  (change)="handleInputChange($event)"
                />
              </div>
            </div>
          </dxi-item>
          <dxi-item itemType="group" colCount="2">
            <dxi-item
              dataField="fullName"
              [label]="{ text: 'Full Name' }"
              editorType="dxTextBox"
            >
              <dxi-validation-rule
                type="required"
                message="Full name is required"
              >
              </dxi-validation-rule>
              <dxi-validation-rule
                type="stringLength"
                message="Full name must be at least 1 letter"
                [min]="1"
              >
              </dxi-validation-rule>
            </dxi-item>
            <dxi-item name="gender">
              <dxo-label text="Gender"></dxo-label>
              <dx-select-box
                (onValueChanged)="onGenderChange($event)"
                [displayExpr]="'name'"
                [valueExpr]="'id'"
                [dataSource]="genderList"
                [value]="userInfoData?.gender"
              >
              </dx-select-box>
            </dxi-item>
            <dxi-item
              dataField="dateOfBirth"
              [label]="{ text: 'Birthdate' }"
              editorType="dxDateBox"
            >
              <dxi-validation-rule
                type="required"
                message="Birthdate is required"
              >
              </dxi-validation-rule>
            </dxi-item>
          </dxi-item>
          <dxi-item itemType="group" colCount="2">
            <dxi-item
              dataField="address"
              [label]="{ text: 'Address' }"
              editorType="dxTextBox"
            >
              <dxi-validation-rule
                type="required"
                message="Address is required"
              >
              </dxi-validation-rule>
              <dxi-validation-rule
                type="stringLength"
                message="Address cannot be lower than 1 letter!"
                [min]="1"
              >
              </dxi-validation-rule>
            </dxi-item>
            <dxi-item
              dataField="email"
              [label]="{ text: 'Email' }"
              editorType="dxTextBox"
            >
              <dxi-validation-rule type="required" message="Email is required">
              </dxi-validation-rule>
              <dxi-validation-rule
                type="stringLength"
                message="Email cannot be lower than 1 letter!"
                [min]="1"
              >
              </dxi-validation-rule>
            </dxi-item>
            <dxi-item
              dataField="phone"
              [label]="{ text: 'Phone Number' }"
              editorType="dxTextBox"
            >
              <dxi-validation-rule
                type="required"
                message="Phone number is required"
              >
              </dxi-validation-rule>
              <dxi-validation-rule
                type="stringLength"
                message="Phone number cannot be lower than 1 letter!"
                [min]="1"
              >
              </dxi-validation-rule>
            </dxi-item>
          </dxi-item>
          <dxi-item name="bio">
            <dxo-label text="Biography"></dxo-label>
            <div *dxTemplate>
              <div class="responsive-field">
                <dx-html-editor
                  [width]="'100%'"
                  [height]="520"
                  [value]="userInfoData?.bio"
                  (onValueChanged)="onEditorValueChanged($event)"
                >
                  <dxo-toolbar [multiline]="isMultiline">
                    <dxi-item name="undo"></dxi-item>
                    <dxi-item name="redo"></dxi-item>
                    <dxi-item name="separator"></dxi-item>
                    <dxi-item
                      name="size"
                      [acceptedValues]="[
                        '8pt',
                        '10pt',
                        '12pt',
                        '14pt',
                        '18pt',
                        '24pt',
                        '36pt'
                      ]"
                    ></dxi-item>
                    <dxi-item
                      name="font"
                      [acceptedValues]="[
                        'Arial',
                        'Courier New',
                        'Georgia',
                        'Impact',
                        'Lucida Console',
                        'Tahoma',
                        'Times New Roman',
                        'Verdana'
                      ]"
                    ></dxi-item>
                    <dxi-item name="separator"></dxi-item>
                    <dxi-item name="bold"></dxi-item>
                    <dxi-item name="italic"></dxi-item>
                    <dxi-item name="strike"></dxi-item>
                    <dxi-item name="underline"></dxi-item>
                    <dxi-item name="separator"></dxi-item>
                    <dxi-item name="alignLeft"></dxi-item>
                    <dxi-item name="alignCenter"></dxi-item>
                    <dxi-item name="alignRight"></dxi-item>
                    <dxi-item name="alignJustify"></dxi-item>
                    <dxi-item name="separator"></dxi-item>
                    <dxi-item name="orderedList"></dxi-item>
                    <dxi-item name="bulletList"></dxi-item>
                    <dxi-item name="separator"></dxi-item>
                    <dxi-item
                      name="header"
                      [acceptedValues]="[false, 1, 2, 3, 4, 5]"
                    ></dxi-item>
                    <dxi-item name="separator"></dxi-item>
                    <dxi-item name="color"></dxi-item>
                    <dxi-item name="background"></dxi-item>
                    <dxi-item name="separator"></dxi-item>
                    <dxi-item name="link"></dxi-item>
                    <dxi-item name="image"></dxi-item>
                    <dxi-item name="separator"></dxi-item>
                    <dxi-item name="clear"></dxi-item>
                    <dxi-item name="codeBlock"></dxi-item>
                    <dxi-item name="blockquote"></dxi-item>
                  </dxo-toolbar>
                  <dxo-media-resizing [enabled]="true"> </dxo-media-resizing>
                </dx-html-editor>
              </div>
            </div>
          </dxi-item>
          <dxi-item itemType="group" [colCount]="2" [cssClass]="'buttonGroup'">
            <dxi-item
              itemType="button"
              horizontalAlignment="center"
              [buttonOptions]="submitUserInfoButtonOptions"
            >
            </dxi-item>
            <dxi-item
              itemType="button"
              horizontalAlignment="center"
              [buttonOptions]="resetUserInfoButtonOptions"
            >
            </dxi-item>
          </dxi-item>
        </dxi-item>
      </dxi-item>
    </dx-form>
  </form>
</div>
