<div class="container">
  <form
    id="form-container"
    (submit)="onSubmit($event)"
    [classList]="['signupForm']"
  >
    <div class="long-title">
      <h3>Profile Detail</h3>
    </div>
    <dx-form
      id="form"
      [formData]="user"
      [showValidationSummary]="true"
      validationGroup="userData"
      (onContentReady)="onFormShown($event)"
    >
      <dxi-item itemType="group">
        <dxi-item itemType="group" caption="Account Information">
          <dxi-item
            dataField="username"
            [label]="{ text: 'Username' }"
            editorType="dxTextBox"
            [editorOptions]="{ disabled: true }"
          >
          </dxi-item>
          <dxi-item
            dataField="password"
            [label]="{ text: 'Password' }"
            editorType="dxTextBox"
            [editorOptions]="{ mode: 'password' }"
          >
            <dxi-validation-rule type="required" message="Password is required">
            </dxi-validation-rule>
            <dxi-validation-rule
              type="stringLength"
              message="Password cannot contain more than 12 letters!"
              [min]="1"
              [max]="8"
            >
            </dxi-validation-rule>
          </dxi-item>
          <dxi-item
            dataField="role"
            [label]="{ text: 'Role' }"
            editorType="dxSelectBox"
            [editorOptions]="{
              items: ['Learner', 'Instructor', 'Admin'],
              value: currentRoleId,
              disabled: true
            }"
          >
            <dxi-validation-rule type="required" message="Role is required">
            </dxi-validation-rule>
          </dxi-item>
          <dxi-item itemType="group" [colCount]="2" [cssClass]="'buttonGroup'">
            <dxi-item
              itemType="button"
              horizontalAlignment="center"
              [buttonOptions]="submitButtonOptions"
            >
            </dxi-item>
            <dxi-item
              itemType="button"
              horizontalAlignment="center"
              [buttonOptions]="resetButtonOptions"
            >
            </dxi-item>
          </dxi-item>
        </dxi-item>
      </dxi-item>
      <dxi-item itemType="group"></dxi-item>
    </dx-form>
  </form>
  <ng-container *ngIf="currentRoleId === 'Learner'">
    <form
      id="learner-form-container"
      (submit)="onLearnerSubmit($event)"
      [classList]="['signupForm']"
    >
      <dx-form
        id="learner-form"
        [formData]="learnerData"
        [showValidationSummary]="true"
        validationGroup="learnerData"
      >
        <dxi-item itemType="group">
          <dxi-item itemType="group" caption="Personal Information">
            <dxi-item name="avatar">
              <div *dxTemplate>
                <div class="image-container">
                  <img [src]="imageData.url" alt="..." />
                  <input
                    class="img-input"
                    type="file"
                    id="img"
                    accept="image/*"
                    (change)="handleInputChange($event)"
                  />
                </div>
              </div>
            </dxi-item>
            <dxi-item
              dataField="fullName"
              [label]="{ text: 'Full Name' }"
              editorType="dxTextBox"
            >
              <dxi-validation-rule
                type="required"
                message="Full name is required"
              >
              </dxi-validation-rule>
              <dxi-validation-rule
                type="stringLength"
                message="Full name cannot lower than 1 letter!"
                [min]="1"
              >
              </dxi-validation-rule>
            </dxi-item>
            <dxi-item
              dataField="gender"
              [label]="{ text: 'Gender' }"
              editorType="dxSelectBox"
              [editorOptions]="{
                items: ['Male', 'Female'],
                value: learnerData?.gender
              }"
            >
              <dxi-validation-rule type="required" message="Gender is required">
              </dxi-validation-rule>
            </dxi-item>
            <dxi-item
              dataField="age"
              [label]="{ text: 'Age' }"
              editorType="dxNumberBox"
            >
              <dxi-validation-rule type="required" message="Age is required">
              </dxi-validation-rule>
              <dxi-validation-rule
                type="range"
                message="Age cannot lower than 1"
                [min]="1"
              >
              </dxi-validation-rule>
            </dxi-item>
            <!-- <dxi-item
              dataField="bloodType"
              [label]="{ text: 'Gender' }"
              editorType="dxSelectBox"
              [editorOptions]="{
                items: ['O', 'A', 'B'],
                value: learnerData?.bloodType
              }"
            >
              <dxi-validation-rule type="required" message="Gender is required">
              </dxi-validation-rule>
            </dxi-item> -->
            <!-- <dxi-item
              dataField="height"
              [label]="{ text: 'Height' }"
              editorType="dxNumberBox"
            >
              <dxi-validation-rule type="required" message="Height is required">
              </dxi-validation-rule>
              <dxi-validation-rule
                type="range"
                message="Height cannot lower than 1"
                [min]="1"
              >
              </dxi-validation-rule>
            </dxi-item>
            <dxi-item
              dataField="weight"
              [label]="{ text: 'Weight' }"
              editorType="dxNumberBox"
            >
              <dxi-validation-rule type="required" message="Weight is required">
              </dxi-validation-rule>
              <dxi-validation-rule
                type="range"
                message="Weight cannot lower than 1"
                [min]="1"
              >
              </dxi-validation-rule>
            </dxi-item>
            <dxi-item
              dataField="occupation"
              [label]="{ text: 'Job' }"
              editorType="dxTextBox"
            >
              <dxi-validation-rule type="required" message="Job is required">
              </dxi-validation-rule>
              <dxi-validation-rule
                type="stringLength"
                message="Job cannot lower than 12 letters!"
                [min]="1"
              >
              </dxi-validation-rule>
            </dxi-item> -->
            <dxi-item
              dataField="address"
              [label]="{ text: 'Address' }"
              editorType="dxTextBox"
            >
              <dxi-validation-rule
                type="required"
                message="Address is required"
              >
              </dxi-validation-rule>
              <dxi-validation-rule
                type="stringLength"
                message="Address cannot lower than 1 letter!"
                [min]="1"
              >
              </dxi-validation-rule>
            </dxi-item>
            <dxi-item
              itemType="group"
              [colCount]="2"
              [cssClass]="'buttonGroup'"
            >
              <dxi-item
                itemType="button"
                horizontalAlignment="center"
                [buttonOptions]="submitLearnerButtonOptions"
              >
              </dxi-item>
              <dxi-item
                itemType="button"
                horizontalAlignment="center"
                [buttonOptions]="resetLearnerButtonOptions"
              >
              </dxi-item>
            </dxi-item>
          </dxi-item>
        </dxi-item>
      </dx-form>
    </form>
  </ng-container>
  <ng-container *ngIf="currentRoleId === 'Instructor'">
    <form
      id="instructor-form-container"
      (submit)="onInstructorSubmit($event)"
      [classList]="['signupForm']"
    >
      <dx-form
        id="instructor-form"
        [formData]="instructorData"
        [showValidationSummary]="true"
        validationGroup="instructorData"
      >
        <dxi-item itemType="group">
          <dxi-item itemType="group" caption="Personal Information">
            <dxi-item name="avatar">
              <div *dxTemplate>
                <div class="image-container">
                  <img [src]="imageData.url" alt="..." />
                  <input
                    class="img-input"
                    type="file"
                    id="img"
                    accept="image/*"
                    (change)="handleInputChange($event)"
                  />
                </div>
              </div>
            </dxi-item>
            <dxi-item
              dataField="fullName"
              [label]="{ text: 'Full Name' }"
              editorType="dxTextBox"
            >
              <dxi-validation-rule
                type="required"
                message="Full name is required"
              >
              </dxi-validation-rule>
              <dxi-validation-rule
                type="stringLength"
                message="Full name cannot lower than 1 letter!"
                [min]="1"
              >
              </dxi-validation-rule>
            </dxi-item>
            <dxi-item
              dataField="gender"
              [label]="{ text: 'Gender' }"
              editorType="dxSelectBox"
              [editorOptions]="{
                items: ['Male', 'Female'],
                value: instructorData?.gender
              }"
            >
              <dxi-validation-rule type="required" message="Gender is required">
              </dxi-validation-rule>
            </dxi-item>
            <dxi-item
              dataField="age"
              [label]="{ text: 'Age' }"
              editorType="dxNumberBox"
            >
              <dxi-validation-rule type="required" message="Age is required">
              </dxi-validation-rule>
              <dxi-validation-rule
                type="range"
                message="Age cannot lower than 1"
                [min]="1"
              >
              </dxi-validation-rule>
            </dxi-item>
            <dxi-item
              dataField="role"
              [label]="{ text: 'Role' }"
              editorType="dxSelectBox"
              [editorOptions]="{
                items: ['Instructor', 'Nurses', 'Assistants'],
                value: instructorData?.role
              }"
            >
              <dxi-validation-rule type="required" message="Role is required">
              </dxi-validation-rule>
            </dxi-item>
            <dxi-item
              dataField="department"
              [label]="{ text: 'Department' }"
              editorType="dxSelectBox"
              [editorOptions]="{
                items: [
                  'Dermatology',
                  'Oncology',
                  'Endocrinology',
                  'Gastroenterology',
                  'Hepato-Biliary-Pancreatic',
                  'Neurology',
                  'Respiratory',
                  'Infectious',
                  'Ophthalmology'
                ],
                value: instructorData?.department
              }"
            >
              <dxi-validation-rule
                type="required"
                message="Department is required"
              >
              </dxi-validation-rule>
            </dxi-item>
            <dxi-item
              dataField="yearsOfExperience"
              [label]="{ text: 'Year of experience' }"
              editorType="dxNumberBox"
            >
              <dxi-validation-rule
                type="required"
                message="Year of experience is required"
              >
              </dxi-validation-rule>
              <dxi-validation-rule
                type="range"
                message="Year of Experience cannot lower than 1"
                [min]="1"
              >
              </dxi-validation-rule>
            </dxi-item>
            <dxi-item
              dataField="description"
              [label]="{ text: 'Description' }"
              editorType="dxTextBox"
            >
              <dxi-validation-rule
                type="required"
                message="Description is required"
              >
              </dxi-validation-rule>
              <dxi-validation-rule
                type="stringLength"
                message="Description cannot lower than 1 letter!"
                [min]="1"
              >
              </dxi-validation-rule>
            </dxi-item>
            <dxi-item
              itemType="group"
              [colCount]="2"
              [cssClass]="'buttonGroup'"
            >
              <dxi-item
                itemType="button"
                horizontalAlignment="center"
                [buttonOptions]="submitInstructorButtonOptions"
              >
              </dxi-item>
              <dxi-item
                itemType="button"
                horizontalAlignment="center"
                [buttonOptions]="resetInstructorButtonOptions"
              >
              </dxi-item>
            </dxi-item>
          </dxi-item>
        </dxi-item>
      </dx-form>
    </form>
  </ng-container>
</div>
