.lesson-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.card-container .card {
  height: 350px;
  margin: 10px;
  background-color: rgba(59, 21, 65, 0.486);
  border-radius: 10px;
  border: 2px solid rgb(165, 173, 243);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-container .card .card-title {
  font-size: large;
  font-weight: bold;
  font-style: oblique;
}

.card-container .card .card-body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.card-container .card .card-img {
  height: 150px;
  width: 150px;
  margin-bottom: 10px;
}
