<dx-scroll-view
  [bounceEnabled]="true"
  [scrollByContent]="true"
  [scrollByThumb]="true"
>
  <div class="img-container">
    <img [src]="fileData?.url" alt="..." />
  </div>
  <form id="course-form-container" [classList]="['course-form']">
    <dx-form id="course-form" [formData]="courseData" [readOnly]="true">
      <dxi-item itemType="group" caption="Course Summary">
        <dxi-item name="courseName">
          <dxo-label text="Course Name"></dxo-label>
          <div *dxTemplate>
            <div class="responsive-field">
              {{ courseData?.name }}
            </div>
          </div>
        </dxi-item>
        <dxi-item name="instructorName">
          <dxo-label text="Instructor"></dxo-label>
          <div *dxTemplate>
            <div class="responsive-field">
              {{ courseData?.instructorId }}
            </div>
          </div>
        </dxi-item>
        <dxi-item name="duration">
          <dxo-label text="Duration"></dxo-label>
          <div *dxTemplate>
            <div class="responsive-field">
              {{ courseData?.duration }} week(s)
            </div>
          </div>
        </dxi-item>
        <dxi-item name="duration">
          <dxo-label text="Duration"></dxo-label>
          <div *dxTemplate>
            <div class="responsive-field">
              {{ courseData?.cost | formatCurrency: currency }}
            </div>
          </div>
        </dxi-item>
        <dxi-item
          dataField="availableSlot"
          [label]="{ text: 'Available Slot' }"
        >
        </dxi-item>
        <dxi-item dataField="maxSlot" [label]="{ text: 'Max Slot' }">
        </dxi-item>
        <dxi-item dataField="rating" [label]="{ text: 'Rating' }"> </dxi-item>
        <dxi-item dataField="feedback" [label]="{ text: 'Feedback' }">
        </dxi-item>
        <dxi-item dataField="ratingCount" [label]="{ text: 'Rating Count' }">
        </dxi-item>
        <dxi-item name="description">
          <dxo-label text="Description"></dxo-label>
          <div *dxTemplate>
            <div class="responsive-field">
              {{ courseData?.description }}
            </div>
          </div>
        </dxi-item>
      </dxi-item>
    </dx-form>
  </form>
  <!-- <dx-button
    style="width: 100%"
    *ngIf="!isLogin"
    text="Login to purchase"
    (onClick)="showLoginPopup()"
  ></dx-button> -->
  <!-- *ngIf="isLogin" -->
  <ngx-paypal [config]="payPalConfig"></ngx-paypal>
</dx-scroll-view>
