<ng-container *ngIf="fileItems">
  <!-- currentPath="Images" -->
  <dx-file-manager
    id="fileManager"
    [fileSystemProvider]="fileItems"
    height="'100%'"
    (onSelectedFileOpened)="displayImagePopup($event)"
    (onSelectionChanged)="onSelectionChanged($event)"
    (onToolbarItemClick)="onToolbarItemClick($event)"
    (onContextMenuItemClick)="onContextItemClick($event)"
    (onOptionChanged)="onOptionChanged($event)"
  >
    <dxo-item-view [showParentFolder]="false">
      <dxo-details>
        <ng-container *ngIf="isItemMode">
          <dxi-column
            dataField="thumbnail"
            caption="Preview"
            [width]="150"
          ></dxi-column>
          <dxi-column dataField="name" caption="Title"></dxi-column>
          <dxi-column
            dataField="type"
            caption="Type"
            [width]="120"
          ></dxi-column>
          <dxi-column
            dataField="size"
            caption="Size"
            [width]="120"
          ></dxi-column>
          <dxi-column
            dataField="dateModified"
            caption="Date Modified"
          ></dxi-column>
        </ng-container>
        <ng-container *ngIf="!isItemMode">
          <dxi-column
            dataField="thumbnail"
            caption="..."
            [width]="150"
          ></dxi-column>
          <dxi-column dataField="name" caption="Name"></dxi-column>
          <dxi-column
            dataField="dateModified"
            caption="Date Modified"
          ></dxi-column>
        </ng-container>
      </dxo-details>
    </dxo-item-view>
    <dxo-toolbar>
      <dxi-item name="showNavPane" visible="true"></dxi-item>
      <dxi-item name="separator"></dxi-item>
      <ng-container *ngIf="currentDirectory !== ''">
        <dxi-item
          widget="dxMenu"
          location="before"
          locateInMenu="auto"
          [options]="newFilesMenuOptions"
        ></dxi-item>
      </ng-container>
      <dxi-item
        widget="dxMenu"
        location="after"
        locateInMenu="auto"
        [options]="refreshMenuOptions"
      ></dxi-item>
      <dxi-item name="separator" location="after"></dxi-item>
      <dxi-item name="switchView"></dxi-item>
      <ng-container *ngIf="isDirectorySelected === false">
        <dxi-file-selection-item name="separator"></dxi-file-selection-item>
        <dxi-file-selection-item
          widget="dxMenu"
          location="before"
          locateInMenu="auto"
          [options]="deleteMenuOptions"
        ></dxi-file-selection-item>
        <dxi-file-selection-item
          widget="dxMenu"
          location="before"
          locateInMenu="auto"
          [options]="updateMenuOptions"
        ></dxi-file-selection-item>
        <dxi-file-selection-item
          widget="dxMenu"
          location="before"
          locateInMenu="auto"
          [options]="downloadZipMenuOptions"
        ></dxi-file-selection-item>
        <!-- <dxi-file-selection-item
          widget="dxMenu"
          location="before"
          locateInMenu="auto"
          [options]="copyMenuOptions"
        ></dxi-file-selection-item>
        <dxi-file-selection-item
          widget="dxMenu"
          location="before"
          locateInMenu="auto"
          [options]="moveMenuOptions"
        ></dxi-file-selection-item>
        <ng-container *ngIf="isCopying === true || isMoving === true">
          <dxi-item
            widget="dxMenu"
            location="before"
            locateInMenu="auto"
            [options]="pasteMenuOptions"
          ></dxi-item>
          <dxi-item
            widget="dxMenu"
            location="before"
            locateInMenu="auto"
            [options]="clearClipboardMenuOptions"
          ></dxi-item> -->
        <!-- </ng-container> -->
        <dxi-file-selection-item
          name="clearSelection"
          locateInMenu="auto"
        ></dxi-file-selection-item>
      </ng-container>
    </dxo-toolbar>
    <dxo-context-menu>
      <ng-container *ngIf="isDirectorySelected === false">
        <dxi-item
          name="downloadImage"
          text="Download Image"
          icon="download"
          beginGroup="true"
        ></dxi-item>
        <dxi-item
          name="newImage"
          text="New image"
          icon="plus"
          beginGroup="true"
        ></dxi-item>
        <dxi-item
          name="deleteImage"
          text="Delete image"
          icon="trash"
        ></dxi-item>
        <dxi-item
          name="updateFile"
          text="Link Source"
          icon="link"
          beginGroup="true"
        ></dxi-item>
        <dxi-item
          name="renameFile"
          text="Rename File"
          icon="edit"
          beginGroup="true"
        ></dxi-item>
      </ng-container>
    </dxo-context-menu>
  </dx-file-manager>
  <dx-popup
    id="photo-popup"
    [height]="'90%'"
    [width]="'70%'"
    [showTitle]="true"
    [shading]="true"
    [showCloseButton]="true"
    [title]="currentFile?.dataItem.name"
    [(visible)]="isPopupVisible"
  >
    <div *dxTemplate="let data of 'content'">
      <dx-scroll-view
        [bounceEnabled]="true"
        [scrollByContent]="true"
        [scrollByThumb]="true"
        [height]="'100%'"
        [width]="'100%'"
      >
        <div class="photo-popup-content">
          <div class="img-container">
            <img [src]="currentFile?.thumbnail" alt="..." />
          </div>
          <div class="info-container">
            <p>Detail Information</p>
            <div>Title: {{ currentFile?.dataItem.title }}</div>
            <div>Type: {{ currentFile?.dataItem.type }}</div>
            <div>Size: {{ currentFile?.dataItem.size }} byte</div>
          </div>
        </div>
      </dx-scroll-view>
    </div>
  </dx-popup>
  <dx-popup
    id="update-file-popup"
    [height]="'90%'"
    [width]="'90%'"
    [showTitle]="true"
    [shading]="true"
    [showCloseButton]="true"
    [title]="'Link Source'"
    [(visible)]="isUpdateFilePopupVisible"
  >
    <div *dxTemplate="let data of 'content'">
      <dx-scroll-view
        [bounceEnabled]="true"
        [scrollByContent]="true"
        [scrollByThumb]="true"
        [height]="'100%'"
        [width]="'100%'"
      >
        <app-update-file [selectedItem]="selectedItem"></app-update-file>
      </dx-scroll-view>
    </div>
  </dx-popup>
  <dx-popup
    id="rename-file-popup"
    [height]="'60%'"
    [width]="'80%'"
    [showTitle]="true"
    [shading]="true"
    [showCloseButton]="true"
    [title]="'Rename File'"
    [(visible)]="isRenameFilePopupVisible"
  >
    <div *dxTemplate="let data of 'content'">
      <dx-scroll-view
        [bounceEnabled]="true"
        [scrollByContent]="true"
        [scrollByThumb]="true"
        [height]="'100%'"
        [width]="'100%'"
      >
        <app-rename-file [selectedItem]="selectedItem"></app-rename-file>
      </dx-scroll-view>
    </div>
  </dx-popup>
  <dx-popup
    id="upload-batch-popup"
    [height]="'90%'"
    [width]="'90%'"
    [showTitle]="true"
    [shading]="true"
    [showCloseButton]="true"
    [title]="'Upload Batch'"
    [(visible)]="isUploadBatchPopupVisible"
  >
    <div *dxTemplate="let data of 'content'">
      <dx-scroll-view
        [bounceEnabled]="true"
        [scrollByContent]="true"
        [scrollByThumb]="true"
        [height]="'100%'"
        [width]="'100%'"
      >
        <app-upload-batch [directory]="currentDirectory"></app-upload-batch>
      </dx-scroll-view>
    </div>
  </dx-popup>
</ng-container>
<dx-popup
  id="key-shortcut-popup"
  [height]="'70%'"
  [width]="'70%'"
  [showTitle]="true"
  [shading]="true"
  [showCloseButton]="true"
  [title]="'Keyboard Shortcut'"
  [(visible)]="isKeyShortcutPopupVisible"
>
  <div *dxTemplate="let data of 'content'">
    <dx-scroll-view
      [bounceEnabled]="true"
      [scrollByContent]="true"
      [scrollByThumb]="true"
      [height]="'100%'"
      [width]="'100%'"
    >
      <div
        style="
          display: flex;
          justify-content: center;
          align-items: flex-start;
          flex-direction: column;
        "
      >
        <p>'F2': Update a file</p>
        <p>'Escape': Clear clipboard</p>
        <p>'Control' + 'C': Copy file(s)</p>
        <p>'Control' + 'X': Move file(s)</p>
        <p>'Control' + 'V': Paste file(s)</p>
        <p>'Delete': Delete file(s)</p>
        <p>'Pageup': Upload a file</p>
        <p>'Insert': Upload batch</p>
      </div>
    </dx-scroll-view>
  </div>
</dx-popup>
<dx-speed-dial-action
  icon="warning"
  label="Key Shortcut"
  [index]="1"
  (onClick)="showKeyShortcut()"
>
</dx-speed-dial-action>
<dx-speed-dial-action icon="like" label="Sub Menu 2" [index]="2">
</dx-speed-dial-action>
