<ng-container *ngIf="subjectList.length">
  <dx-toolbar
    [ngStyle]="{
      paddingLeft: '25px',
      marginBottom: '5px'
    }"
  >
    <dxi-item [location]="'before'" [text]="'Session List'"> </dxi-item>
    <dxi-item widget="dxTextBox" [options]="searchBoxOptions" location="before">
    </dxi-item>
    <dxi-item
      widget="dxButton"
      [options]="refreshButtonOptions"
      location="after"
      [locateInMenu]="'auto'"
    >
    </dxi-item>
    <dxi-item [locateInMenu]="'auto'" [location]="'after'">
      <dx-button icon="filter" type="normal" [disabled]="true"> </dx-button>
    </dxi-item>
    <dxi-item [locateInMenu]="'auto'" location="after">
      <dx-select-box
        (onValueChanged)="onFilterChange($event)"
        [displayExpr]="'name'"
        [placeholder]="'Select a subject'"
        [valueExpr]="'id'"
        [searchEnabled]="true"
        [searchExpr]="'name'"
        [dataSource]="subjectList"
        [value]="subjectList[0]"
      >
      </dx-select-box>
    </dxi-item>
    <dxi-item [locateInMenu]="'auto'" [location]="'after'">
      <dx-button icon="group" type="normal" [disabled]="true"> </dx-button>
    </dxi-item>
    <dxi-item
      widget="dxSelectBox"
      [options]="sortSelectBoxOptions"
      location="after"
      [locateInMenu]="'auto'"
    >
    </dxi-item>
    <dxi-item location="after" locateInMenu="auto">
      <dx-button
        icon="arrowright"
        type="outline"
        text="To Subject"
        hint="Navigate to schedule list "
        (onClick)="navigateToScheduleList()"
      >
      </dx-button>
    </dxi-item>
  </dx-toolbar>
</ng-container>
<dx-scroll-view
  [direction]="'vertical'"
  [showScrollbar]="true"
  [scrollByContent]="true"
  [scrollByThumb]="true"
  [height]="'69vh'"
  (onPullDown)="updateTopContent($event)"
  (onReachBottom)="updateBottomContent($event)"
  [bounceEnabled]="false"
>
  <ng-container *ngIf="sessionList">
    <div class="card-container">
      <div class="card" *ngFor="let item of sessionList">
        <div class="card-title">
          R{{ item?.courseTable.name[0] }}{{ item?.creator.displayName[0]
          }}{{ item?.id[0] + item?.id[1] | uppercase }}
        </div>
        <div class="card-body">
          <div class="card-text">Course: {{ item?.courseTable.name }}</div>
          <div class="card-text">
            Start Time: {{ item?.startTime | date: "dd/MM, hh:mm a" }}
          </div>
          <div class="card-text">
            End Time: {{ item?.endTime | date: "dd/MM, hh:mm a" }}
          </div>
          <div class="card-text">
            Max Participants: {{ item?.maxParticipants }}
          </div>
        </div>
        <div class="card-img">
          <img
            [src]="mapFileListToUrl(item?.id)"
            alt="..."
            style="height: 100%; width: 100%"
          />
        </div>
        <div>
          <dx-button
            icon="arrowright"
            type="outline"
            text="Detail"
            hint="Click to see session detail"
            (onClick)="selectSession(item)"
          ></dx-button>
        </div>
      </div>
    </div>
  </ng-container>
</dx-scroll-view>
<dx-speed-dial-action
  icon="arrowup"
  label=""
  [index]="1"
  (onClick)="scrollTop()"
>
</dx-speed-dial-action>
