@media screen and (max-width: 320px) {
  .chart-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}
@media screen and (min-width: 321px) {
  .chart-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
  }
}
.chart {
  margin-top: 15px;
  padding: 15px;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.404);
  box-shadow: rgb(253, 253, 255) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

::ng-deep .tooltip-header {
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 5px;
  border-bottom: 1px solid #c5c5c5;
}

::ng-deep .tooltip-body {
  width: 170px;
}

::ng-deep .tooltip-body .series-name {
  font-weight: normal;
  opacity: 0.6;
  display: inline-block;
  line-height: 1.5;
  padding-right: 10px;
  width: 126px;
}

::ng-deep .tooltip-body .value-text {
  display: inline-block;
  line-height: 1.5;
  width: 30px;
}
