<ng-container *ngIf="roomDetail">
  <dx-toolbar>
    <dxi-item location="before" locateInMenu="auto">
      <dx-button
        icon="arrowleft"
        type="outline"
        text="To Room"
        hint="Navigate to Room List"
        (onClick)="navigateToRoom()"
      >
      </dx-button>
    </dxi-item>
    <dxi-item location="after" locateInMenu="auto">
      <dx-button
        icon="arrowright"
        type="outline"
        text="Schedule List"
        hint="Navigate to Schedule List"
        (onClick)="navigateToSchedule()"
      >
      </dx-button>
    </dxi-item>
    <dxi-item [location]="'center'" [text]="'Room ' + roomDetail.number">
    </dxi-item>
  </dx-toolbar>
  <div class="monitor-container">
    <ng-container *ngIf="customerList">
      <div class="list-container box-shadow">
        <dx-list
          [height]="'70vh'"
          [dataSource]="customerList"
          [searchEnabled]="true"
          searchExpr="fullName"
          searchMode="contains"
          selectionMode="single"
          (onSelectionChanged)="listSelectionChanged($event)"
          [selectedItemKeys]="[customerList._id]"
        >
          <div *dxTemplate="let data of 'item'">
            <div>{{ data?.fullName }}</div>
          </div>
        </dx-list>
      </div>
    </ng-container>
    <div class="condition-container">
      <router-outlet name="conditionOutlet"></router-outlet>
    </div>
  </div>
</ng-container>
