.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
.responsive-field {
  width: 100%;
  border-bottom: rgb(255, 255, 255) 2px dotted;
  font-size: large;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
@media screen and (max-width: 450px) {
  .img-container img {
    height: 100px;
    width: 100px;
    border-radius: 100px;
    box-shadow: rgba(79, 205, 255, 0.25) 0px 25px 50px -12px;
  }
}
@media screen and (min-width: 451px) {
  .img-container img {
    height: 150px;
    width: 150px;
    border-radius: 150px;
    box-shadow: rgba(79, 205, 255, 0.25) 0px 25px 50px -12px;
  }
}
