<dx-scroll-view
  [bounceEnabled]="true"
  [scrollByContent]="true"
  [scrollByThumb]="true"
>
  <div class="img-container">
    <img src="../../../../../assets/imgs/favipiravir_1.png" alt="..." />
  </div>
  <form id="test-form-container" [classList]="['test-form']">
    <dx-form id="test-form" [formData]="testData" [readOnly]="true">
      <dxi-item itemType="group" caption="Test Information">
        <dxi-item name="name">
          <dxo-label text="Name"></dxo-label>
          <div *dxTemplate>
            <div class="responsive-field">
              {{ testData?.name }}
            </div>
          </div>
        </dxi-item>

        <dxi-item dataField="brand" [label]="{ text: 'Brand' }"> </dxi-item>
        <dxi-item name="price">
          <dxo-label text="Price"></dxo-label>
          <div *dxTemplate>
            <div class="responsive-field">
              {{ price }}
            </div>
          </div>
        </dxi-item>
        <dxi-item name="effect">
          <dxo-label text="Effect"></dxo-label>
          <div *dxTemplate>
            <div class="responsive-field">
              {{ testData?.effect }}
            </div>
          </div>
        </dxi-item>
      </dxi-item>
    </dx-form>
  </form>
</dx-scroll-view>
