<dx-toolbar
  [ngStyle]="{
    paddingLeft: '25px',
    marginBottom: '5px'
  }"
>
  <dxi-item
    [location]="'before'"
    [text]="'Session List'"
    style="padding-right: 15px; margin-right: 15px"
  >
  </dxi-item>
  <dxi-item [locateInMenu]="'auto'" [location]="'after'">
    <dx-button
      icon="plus"
      type="normal"
      hint="Click to upload session"
      (onClick)="uploadSession()"
    ></dx-button>
  </dxi-item>
  <dxi-item
    widget="dxButton"
    [options]="refreshButtonOptions"
    location="after"
    [locateInMenu]="'auto'"
  >
  </dxi-item>
<!--  -->
  <!--  -->
</dx-toolbar>
<div
  style="
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    font-size: large;
    font-weight: bold;
  "
  *ngIf="!sessionList"
>
  There is no session at the moment. Please add sessions to the course.
</div>
<div *ngIf="sessionList">
  <dx-scroll-view
    [direction]="'vertical'"
    [showScrollbar]="true"
    [scrollByContent]="true"
    [scrollByThumb]="true"
    [height]="'69vh'"
    (onPullDown)="updateTopContent($event)"
    (onReachBottom)="updateBottomContent($event)"
    [bounceEnabled]="false"
  >
    <div class="card-container">
      <div class="card" *ngFor="let item of sessionList">
        <div class="card-title">
          R{{ item?.courseTable.name[0] }}{{ item?.creator.displayName[0]
          }}{{ item?.id[0] + item?.id[1] | uppercase }}
        </div>
        <div class="card-body">
          <div class="card-text">Course: {{ item?.courseTable.name }}</div>
          <div class="card-text">
            Start Time: {{ item?.startTime | date: "dd/MM, hh:mm a" }}
          </div>
          <div class="card-text">
            End Time: {{ item?.endTime | date: "dd/MM, hh:mm a" }}
          </div>
        </div>
        <div class="card-img">
          <img
            [src]="mapFileListToUrl(item?.id)"
            alt="..."
            style="height: 100%; width: 100%"
          />
        </div>
        <div class="button-group">
          <dx-button
            icon="edit"
            type="outline"
            hint="Click to edit session"
            (onClick)="editSession(item?.id)"
          ></dx-button>
          <dx-button
            icon="trash"
            type="outline"
            hint="Click to delete session"
            (onClick)="deleteSession(item)"
          ></dx-button>
          <dx-button
            icon="arrowright"
            type="outline"
            hint="Click to join session"
            (onClick)="selectSession(item)"
          ></dx-button>
        </div>
      </div>
    </div>
  </dx-scroll-view>
</div>
<dx-popup
  [(visible)]="isUploadPopupVisible"
  [height]="'90%'"
  [width]="'90%'"
  [showTitle]="true"
  [shading]="true"
  [title]="'Upload Session'"
  [dragEnabled]="true"
  [closeOnOutsideClick]="false"
  [showCloseButton]="true"
>
  <div *dxTemplate="let data of 'content'">
    <ng-container *ngIf="currentFilterByPropertyValue">
      <app-upload-session
        [courseId]="currentFilterByPropertyValue"
      ></app-upload-session>
    </ng-container>
  </div>
</dx-popup>
<dx-popup
  [(visible)]="isUpdatePopupVisible"
  [height]="'90%'"
  [width]="'90%'"
  [showTitle]="true"
  [shading]="true"
  [title]="'Edit Session'"
  [dragEnabled]="true"
  [closeOnOutsideClick]="false"
  [showCloseButton]="true"
>
  <div *dxTemplate="let data of 'content'">
    <ng-container *ngIf="currentSessionID">
      <app-edit-session [sessionID]="currentSessionID"> </app-edit-session>
    </ng-container>
  </div>
</dx-popup>
<dx-speed-dial-action
  icon="arrowup"
  label=""
  [index]="1"
  (onClick)="scrollTop()"
>
</dx-speed-dial-action>
