<dx-popup
  id="question-shortcut-popup"
  [title]="title"
  [showTitle]="true"
  [shading]="true"
  [position]="'right'"
  [showCloseButton]="true"
  [dragEnabled]="true"
  [height]="'80%'"
  (onHiding)="closePopupQuestion()"
  [width]="'30%'"
  [visible]="isVisible"
>
  <div *dxTemplate="let data of 'content'">
    <div class="question-input-container">
      <dx-text-box
        valueChangeEvent="keyup"
        (onKeyUp)="onSearchKeyupHandler($event)"
        (onValueChanged)="onSearchValueChanged($event)"
        (onEnterKey)="onEnterKey()"
        [placeholder]="'Enter name...'"
      ></dx-text-box>
      <div>
        <dx-button (onClick)="onRefresh()" [icon]="'refresh'"></dx-button>
      </div>
    </div>
    <dx-scroll-view
      [direction]="'vertical'"
      [showScrollbar]="true"
      [scrollByContent]="true"
      [scrollByThumb]="true"
      (onPullDown)="updateTopContent($event)"
      (onReachBottom)="updateBottomContent($event)"
      [bounceEnabled]="false"
      [height]="'92%'"
      [width]="'100%'"
    >
      <div class="card-container">
        <div class="card" *ngFor="let item of questionList">
          <div class="card-title">{{ item?.content }}</div>
          <div class="card-body">
            <div class="card-text">
              Total Correct Answer: {{ item?.totalCorrectAnswer }}
            </div>
          </div>
          <div class="card-img">
            <img
              [src]="mapFileListToUrl(item?.id)"
              alt="..."
              style="height: 100%; width: 100%"
            />
          </div>
          <div>
            <dx-button
              icon="upload"
              type="outline"
              text="Import"
              hint="Click to import to desk"
              (onClick)="exportQuestion(item)"
            ></dx-button>
          </div>
        </div>
      </div>
    </dx-scroll-view>
  </div>
</dx-popup>
