<dx-toolbar [ngStyle]="{ paddingLeft: '25px', paddingRight: '25px' }">
  <dxi-item [location]="'before'" [text]="'Overall Statistics'"> </dxi-item>
  <dxi-item location="after" locateInMenu="auto">
    <dx-button
      icon="arrowright"
      type="outline"
      text="User Mananagement"
      hint="Navigate to Edit User"
      (onClick)="navigateToEditUser()"
    >
    </dx-button>
  </dxi-item>
</dx-toolbar>
<router-outlet></router-outlet>
<dx-speed-dial-action
  icon="user"
  label="Learner"
  [index]="1"
  (onClick)="toLearner()"
>
</dx-speed-dial-action>
<dx-speed-dial-action
  icon="like"
  label="Instructor"
  [index]="2"
  (onClick)="toInstructor()"
>
</dx-speed-dial-action>
<dx-speed-dial-action
  icon="refresh"
  label="50+ Data"
  [index]="4"
  (onClick)="loadMoreData()"
>
</dx-speed-dial-action>
