<ng-container *ngIf="fileItems">
  <dx-file-manager
    id="fileManager"
    [fileSystemProvider]="fileItems"
    height="'100%'"
    currentPath="Images"
    (onSelectedFileOpened)="displayImagePopup($event)"
    (onSelectionChanged)="onSelectionChanged($event)"
    (onToolbarItemClick)="onToolbarItemClick($event)"
    (onContextMenuItemClick)="onContextItemClick($event)"
    (onOptionChanged)="onOptionChanged($event)"
  >
    <!-- [selectionMode]="multiple" -->
    <dxo-permissions delete="true" rename="true" download="true" create="true">
    </dxo-permissions>
    <ng-container *ngIf="isDirectory === false">
      <dxo-item-view [showParentFolder]="false">
        <dxo-details>
          <dxi-column
            dataField="thumbnail"
            caption="Preview"
            [width]="150"
          ></dxi-column>
          <dxi-column dataField="name" caption="Title"></dxi-column>
          <dxi-column
            dataField="category"
            caption="Category"
            width="95"
          ></dxi-column>
          <dxi-column dataField="type" caption="Type"></dxi-column>
          <dxi-column
            dataField="dateModified"
            caption="Date Modified"
          ></dxi-column>
          <dxi-column dataField="size" caption="Size"></dxi-column>
        </dxo-details>
      </dxo-item-view>
    </ng-container>
    <dxo-toolbar>
      <dxi-item name="showNavPane" visible="true"></dxi-item>
      <dxi-item name="separator"></dxi-item>
      <dxi-item
        widget="dxMenu"
        location="before"
        [options]="newFileMenuOptions"
      ></dxi-item>
      <dxi-item
        widget="dxMenu"
        location="after"
        [options]="refreshMenuOptions"
      ></dxi-item>
      <dxi-item name="separator" location="after"></dxi-item>
      <dxi-item name="switchView"></dxi-item>
      <dxi-file-selection-item name="separator"></dxi-file-selection-item>
      <dxi-file-selection-item
        widget="dxMenu"
        location="before"
        [options]="deleteMenuOptions"
      ></dxi-file-selection-item>
      <dxi-file-selection-item
        widget="dxMenu"
        location="before"
        [options]="updateMenuOptions"
      ></dxi-file-selection-item>
      <dxi-file-selection-item name="clearSelection"></dxi-file-selection-item>
    </dxo-toolbar>
    <dxo-context-menu>
      <dxi-item
        name="newImage"
        text="New image"
        icon="plus"
        beginGroup="true"
      ></dxi-item>
      <dxi-item name="deleteImage" text="Delete image" icon="trash"></dxi-item>
      <dxi-item
        name="updateImage"
        text="Update image"
        icon="edit"
        beginGroup="true"
      ></dxi-item>
    </dxo-context-menu>
  </dx-file-manager>
  <dx-popup
    id="photo-popup"
    [height]="'90%'"
    [width]="'70%'"
    [showTitle]="true"
    [shading]="true"
    [showCloseButton]="true"
    [title]="currentFile?.dataItem.name"
    [(visible)]="isPopupVisible"
  >
    <div *dxTemplate="let data of 'content'">
      <dx-scroll-view
        [bounceEnabled]="true"
        [scrollByContent]="true"
        [scrollByThumb]="true"
        [height]="'100%'"
        [width]="'100%'"
      >
        <div class="photo-popup-content">
          <div class="img-container">
            <img [src]="currentFile?.thumbnail" alt="..." />
          </div>
          <div class="info-container">
            <p>Detail Information</p>
            <div>Title: {{ currentFile?.dataItem.name }}</div>
            <div>Category: {{ currentFile?.dataItem.category }}</div>
            <div>Type: {{ currentFile?.dataItem.type }}</div>
            <div>Size: {{ currentFile?.dataItem.size }} byte</div>
          </div>
        </div>
      </dx-scroll-view>
    </div>
  </dx-popup>
  <dx-popup
    id="upload-popup"
    [height]="'90%'"
    [width]="'90%'"
    [showTitle]="true"
    [shading]="true"
    [showCloseButton]="true"
    [title]="'Upload Tool'"
    [(visible)]="isUploadPopupVisible"
  >
    <div *dxTemplate="let data of 'content'">
      <dx-scroll-view
        [bounceEnabled]="true"
        [scrollByContent]="true"
        [scrollByThumb]="true"
        [height]="'100%'"
        [width]="'100%'"
      >
        <app-upload-tool
          [directory]="currentDirectory"
          [selectedItem]="selectedItem"
        ></app-upload-tool>
      </dx-scroll-view>
    </div>
  </dx-popup>
</ng-container>
