<dx-toolbar>
  <dxi-item location="after" locateInMenu="auto">
    <dx-button
      icon="arrowright"
      type="outline"
      text="Lesson Management"
      hint="Navigate to Edit Lesson"
      (onClick)="navigateToEditLesson()"
    >
    </dx-button>
  </dxi-item>

  <dxi-item [location]="'center'" [text]="'Working Schedule'"> </dxi-item>
</dx-toolbar>
<!-- <dx-toolbar
  [ngStyle]="{
    paddingLeft: '25px',
    paddingRight: '25px',
    marginBottom: '50px'
  }"
>
  <dxi-item widget="dxTextBox" [options]="searchBoxOptions" location="before">
  </dxi-item>
  <dxi-item [locateInMenu]="'auto'" [location]="'after'">
    <dx-button icon="filter" type="normal" [disabled]="true"> </dx-button>
  </dxi-item>
  <dxi-item
    widget="dxSelectBox"
    [options]="filterSelectBoxOptions"
    location="after"
  >
  </dxi-item>
  <dxi-item [locateInMenu]="'auto'" [location]="'after'">
    <dx-button icon="money" type="normal" [disabled]="true"> </dx-button>
  </dxi-item>
  <dxi-item
    widget="dxSelectBox"
    [options]="sortSelectBoxOptions"
    location="after"
  >
  </dxi-item>
</dx-toolbar> -->
<dx-scheduler
  timeZone="Asia/Ho_Chi_Minh"
  [dataSource]="scheduleList"
  [shadeUntilCurrentTime]="true"
  currentView="Timeline"
  [cellDuration]="60"
  [scrolling]="{
    mode: 'virtual'
  }"
  [views]="[
    {
      type: 'timelineWorkWeek',
      name: 'Timeline',
      groupOrientation: 'vertical'
    },
    {
      type: 'month',
      groupOrientation: 'horizontal'
    }
  ]"
  [showAllDayPanel]="false"
  [currentDate]="currentDate"
  [startDayHour]="7"
  [endDayHour]="24"
  textExpr="instructorName"
  [startDateExpr]="'startDate'"
  [endDateExpr]="'endDate'"
  descriptionExpr="room"
  firstDayOfWeek="1"
  dateSerializationFormat="yyyy-MM-ddTHH:mm:ssZ"
  [editing]="isEdit"
  [height]="550"
  (onOptionChanged)="onOptionChanged($event)"
  (onAppointmentClick)="onAppointmentClick($event)"
  (onAppointmentDblClick)="onAppointmentDblClick($event)"
>
  <dxo-editing [allowUpdating]="false"> </dxo-editing>
</dx-scheduler>
