.splash-container {
  display: flex;
  position: fixed;
  top: 0;
  z-index: 999;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: rgb(136, 197, 255);
}
.logo-container {
  height: 65%;
}
.logo-container img {
  height: 100%;
  width: 100%;
}
.copyright {
  position: fixed;
  bottom: 0;
  justify-content: center;
  align-items: center;
  color: black;
}
