<dx-popup
  id="test-shortcut-popup"
  [title]="title"
  [showTitle]="true"
  [shading]="true"
  [position]="'right'"
  [showCloseButton]="true"
  [dragEnabled]="true"
  [height]="'80%'"
  (onHiding)="closePopupTest()"
  [width]="'30%'"
  [visible]="isVisible"
>
  <div *dxTemplate="let data of 'content'">
    <div class="test-input-container">
      <dx-text-box
        valueChangeEvent="keyup"
        (onKeyUp)="onSearchKeyupHandler($event)"
        (onValueChanged)="onSearchValueChanged($event)"
        (onEnterKey)="onEnterKey()"
        [placeholder]="'Enter name...'"
      ></dx-text-box>
      <div>
        <dx-button (onClick)="onRefresh()" [icon]="'refresh'"></dx-button>
      </div>
    </div>
    <dx-scroll-view
      [direction]="'vertical'"
      [showScrollbar]="true"
      [bounceEnabled]="false"
      [height]="'92%'"
      [width]="'100%'"
      >
      <!-- [scrollByContent]="true"
      [scrollByThumb]="true" -->
      <!-- (onPullDown)="updateTopContent($event)"
      (onReachBottom)="updateBottomContent($event)" -->
      <div class="card-container">
        <div class="card" *ngFor="let item of testList">
          <div class="card-title">{{ item?.name }}</div>
          <div class="card-body">
            <div class="card-text">Max Question: {{ item?.maxQuestion }}</div>
            <div class="card-text">
              <dx-html-editor
                readOnly="true"
                [value]="item?.description"
                [height]="'250px'"
                [width]="'230px'"
              >
                <dxo-media-resizing [enabled]="true"> </dxo-media-resizing>
              </dx-html-editor>
            </div>
          </div>
          <div>
            <dx-button
              icon="arrowright"
              type="outline"
              text="Select"
              hint="Click to import to questions from this test"
              (onClick)="selectTest(item)"
            ></dx-button>
          </div>
        </div>
      </div>
    </dx-scroll-view>
  </div>
</dx-popup>
<app-question-list
  [closePopupQuestion]="closePopupQuestion"
  [insertQuiz]="insertQuiz"
  [testId]="currentTestId"
  [currentQuestionTestId]="currentQuestionTestId"
  [title]="'Question List'"
  [isVisible]="isPopupQuestionVisible"
></app-question-list>
