<dx-toolbar
  [ngStyle]="{
    paddingLeft: '25px',
    marginBottom: '5px'
  }"
>
  <dxi-item [location]="'before'" [text]="'Classroom List'"> </dxi-item>
  <dxi-item
    widget="dxButton"
    [options]="refreshButtonOptions"
    location="after"
    [locateInMenu]="'auto'"
  >
  </dxi-item>
</dx-toolbar>
<div
  style="
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-size: large;
    font-weight: bold;
  "
  *ngIf="!courseList.length"
>
  You have not registered a course yet. Please purchase one at course list.
</div>
<div *ngIf="courseList.length">
  <dx-scroll-view
    [direction]="'vertical'"
    [showScrollbar]="true"
    [scrollByContent]="true"
    [scrollByThumb]="true"
    [height]="'69vh'"
    [bounceEnabled]="false"
  >
    <!-- (onPullDown)="updateTopContent($event)"
    (onReachBottom)="updateBottomContent($event)" -->
    <div class="card-container">
      <div class="card" *ngFor="let item of courseList">
        <div class="card-title">{{ item?.name }}</div>
        <div class="card-body">
          <!-- <div class="card-text">
              Price: {{ item?.cost | formatCurrency: currency }}
            </div> -->
        </div>
        <div class="card-img">
          <img
            [src]="mapFileListToUrl(item?.id)"
            alt="..."
            style="height: 100%; width: 100%"
          />
        </div>
        <div>
          <dx-button
            icon="arrowright"
            type="outline"
            text="Enter"
            hint="Click to enter classroom"
            (onClick)="selectCourse(item)"
          ></dx-button>
        </div>
      </div>
    </div>
  </dx-scroll-view>
</div>
<dx-speed-dial-action
  icon="arrowup"
  label=""
  [index]="1"
  (onClick)="scrollTop()"
>
</dx-speed-dial-action>
