<dx-toolbar
  [ngStyle]="{
    paddingLeft: '25px',
    marginBottom: '5px'
  }"
>
  <dxi-item [location]="'before'" [text]="'Classroom List'"> </dxi-item>
  <dxi-item
    widget="dxButton"
    [options]="refreshButtonOptions"
    location="after"
    [locateInMenu]="'auto'"
  >
  </dxi-item>
  <dxi-item location="after" locateInMenu="auto">
    <dx-button
      icon="arrowright"
      type="outline"
      text="To Subject"
      hint="Navigate to schedule list "
      (onClick)="navigateToScheduleList()"
    >
    </dx-button>
  </dxi-item>
</dx-toolbar>
<dx-scroll-view
  [direction]="'vertical'"
  [showScrollbar]="true"
  [scrollByContent]="true"
  [scrollByThumb]="true"
  [height]="'69vh'"
  (onPullDown)="updateTopContent($event)"
  (onReachBottom)="updateBottomContent($event)"
  [bounceEnabled]="false"
>
  <ng-container *ngIf="courseList">
    <div class="card-container">
      <div class="card" *ngFor="let item of courseList">
        <div class="card-title">{{ item?.name }}</div>
        <div class="card-body">
          <div class="card-text">
            Price: {{ item?.cost | formatCurrency: currency }}
          </div>
        </div>
        <div class="card-img">
          <img
            [src]="mapFileListToUrl(item?.id)"
            alt="..."
            style="height: 100%; width: 100%"
          />
        </div>
        <div>
          <dx-button
            icon="arrowright"
            type="outline"
            text="Detail"
            hint="Click to see course detail"
            (onClick)="selectCourse(item?.id)"
          ></dx-button>
        </div>
      </div>
    </div>
  </ng-container>
</dx-scroll-view>
<dx-speed-dial-action
  icon="arrowup"
  label=""
  [index]="1"
  (onClick)="scrollTop()"
>
</dx-speed-dial-action>
<dx-popup
  [(visible)]="isDetailPopupVisible"
  [height]="'80%'"
  [width]="'80%'"
  [showTitle]="true"
  [shading]="true"
  [title]="'Course Detail'"
  [dragEnabled]="true"
  [closeOnOutsideClick]="false"
  [showCloseButton]="true"
>
  <div *dxTemplate="let data of 'content'">
    <ng-container *ngIf="currentCourseID">
      <app-course-detail [courseID]="currentCourseID"> </app-course-detail>
    </ng-container>
  </div>
</dx-popup>
