<dx-toolbar
  [ngStyle]="{
    paddingLeft: '25px',
    marginBottom: '15px'
  }"
>
  <dxi-item [location]="'before'" [text]="'Cart List'"> </dxi-item>
  <dxi-item [location]="'before'">
    <div style="font-size: medium; font-weight: bold; padding: 5px">
      | Total Cost: {{ cartList.totalCost | formatCurrency: "$" }} |
    </div>
  </dxi-item>
  <dxi-item [location]="'before'">
    <div style="font-size: medium; font-weight: bold; padding: 5px">
      | Total Courses: {{ cartList.totalCourse }} |
    </div>
  </dxi-item>
  <dxi-item location="center" locateInMenu="auto">
    <div>
      <ngx-paypal [config]="payPalConfig"></ngx-paypal>
    </div>
  </dxi-item>
  <dxi-item location="center" locateInMenu="auto">
    <dx-button
      icon="trash"
      type="danger"
      text="Remove All"
      hint="Remove all courses from cart"
      (onClick)="removeAllCourse()"
    >
    </dx-button>
  </dxi-item>
  <dxi-item location="after" locateInMenu="auto">
    <dx-button
      icon="arrowright"
      type="outline"
      text="To Classroom"
      hint="Navigate to purchased courses"
      (onClick)="navigateToClassroom()"
    >
    </dx-button>
  </dxi-item>
</dx-toolbar>
<dx-scroll-view
  [direction]="'vertical'"
  [showScrollbar]="true"
  [scrollByContent]="true"
  [scrollByThumb]="true"
  [height]="'100%'"
  [width]="'100%'"
  [bounceEnabled]="false"
>
  <ng-container *ngIf="cartList.courses?.length">
    <div class="card-container">
      <div class="card" *ngFor="let item of cartList.courses">
        <div class="card-title">{{ item?.name }}</div>
        <div class="card-body">
          <div class="card-text">
            Price: {{ item?.cost | formatCurrency: currency }}
          </div>
        </div>
        <div class="card-img">
          <img
            src="../../../../assets/imgs/shopping-cart.png"
            alt="..."
            style="height: 100%; width: 100%"
          />
        </div>
        <div>
          <dx-button
            icon="edit"
            type="outline"
            text="Detail"
            hint="Click to see detail"
            (onClick)="selectCourse(item?.id)"
          ></dx-button>
          <dx-button
            icon="clear"
            type="outline"
            text="Remove"
            hint="Click to remove this course form cart"
            (onClick)="removeCourse(item)"
          ></dx-button>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="cartList.courses?.length === 0">
    <div style="width: 100%; text-align: center; margin: 25px">
      No item in cart
    </div>
  </ng-container>
</dx-scroll-view>
<dx-speed-dial-action
  icon="arrowup"
  label=""
  [index]="1"
  (onClick)="scrollTop()"
>
</dx-speed-dial-action>
<dx-popup
  [(visible)]="isDetailPopupVisible"
  [height]="'80%'"
  [width]="'80%'"
  [showTitle]="true"
  [shading]="true"
  [title]="'Course Detail'"
  [dragEnabled]="true"
  [closeOnOutsideClick]="false"
  [showCloseButton]="true"
>
  <div *dxTemplate="let data of 'content'">
    <ng-container *ngIf="currentCourseID">
      <app-course-detail [courseID]="currentCourseID"> </app-course-detail>
    </ng-container>
  </div>
</dx-popup>
