.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-container .card {
  height: 460px;
  margin: 10px;
  padding: 15px;
  background-color: rgba(0, 10, 12, 0.486);
  border-radius: 10px;
  border: dotted rgb(92, 168, 255) 5px;
  box-shadow: rgba(226, 121, 252, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  width: 80%;
  transition: all ease-in-out 0.5s;
}

.card-container .card:hover {
  background-color: rgb(0, 0, 0);
}

.card-container .card .card-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 110px;
  border-bottom: dotted rgb(92, 168, 255) 3px;
}

.card-container .card .card-header .user-name {
  font-size: medium;
  font-weight: bold;
}

.card-container .card .card-header .post-date {
  font-size: small;
  font-family: monospace;
}

.card-container .card .card-header .avatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.card-container .card .card-title {
  font-size: large;
  font-weight: bold;
  text-align: center;
}

.card-container .card .card-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-container .card .card-body {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.card-container .card .card-body .post-content {
  width: 60%;
  border-right: dotted rgb(214, 231, 252) 3px;
}

.card-container .card .card-body .post-content .card-img {
  width: 100%;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container .card .card-body .post-comment {
  width: 40%;
  margin-left: 15px;
}

.comment-input {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 100px;
  border-bottom: ridge rgb(248, 251, 255) 3px;
}

.comment-input .user-name {
  font-size: small;
  font-weight: bold;
}

.comment-input .post-date {
  font-size: x-small;
  font-family: monospace;
}

.comment-input .avatar {
  height: 50px;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.comment-body {
  width: 100%;
  margin: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 100px;
  border-bottom: dotted rgb(92, 168, 255) 3px;
}

.comment-body .user-name {
  font-size: small;
  font-weight: bold;
}

.comment-body .post-date {
  font-size: x-small;
  font-family: monospace;
}

.comment-body .avatar {
  height: 50px;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.comment-body .comment-content {
  font-size: medium;
  font-family: Hero;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-group {
  width: 50px;
  // height: 100%;
  font-size: x-small;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
