<div class="question-input">
  <div class="avatar">
    <div class="user-name">Question List</div>
  </div>
  <div class="button-group">
    <dx-button
      icon="plus"
      hint="Click to add question"
      type="danger"
      (onClick)="uploadQuestion()"
    ></dx-button>
    <dx-button
      icon="refresh"
      hint="Click to refresh question list"
      type="danger"
      (onClick)="refresh()"
    ></dx-button>
  </div>
</div>
<ng-container *ngIf="questionList.length">
  <div class="question-count" *ngIf="questionCount !== 0">
    Showing {{ questionCount }} questions
  </div>
  <dx-scroll-view
    [direction]="'vertical'"
    [showScrollbar]="true"
    [scrollByContent]="true"
    [scrollByThumb]="true"
    [height]="200"
  >
    <div class="question-body" *ngFor="let item of questionList; index as i">
      <div class="avatar">
        <img
          [src]="mapFileListToUrl(item?.id)"
          alt="..."
          style="height: 55px; width: 45px; border-radius: 45px"
        />
        <div class="user-name">{{ i + 1 }}</div>
        <div class="post-date">{{ item?.score }} points</div>
      </div>
      <div class="question-content">
        {{ item?.content }}
      </div>
      <div class="button-group">
        <dx-button
          icon="edit"
          hint="Click to edit question"
          type="danger"
          (onClick)="updateQuestion(item)"
        ></dx-button>
        <dx-button
          icon="trash"
          hint="Click to delete question"
          type="danger"
          (onClick)="deleteQuestion(item)"
        ></dx-button>
      </div>
    </div>
  </dx-scroll-view>
</ng-container>
<ng-container *ngIf="testId">
  <app-upload-question
    [closePopupUpload]="closePopupUpload"
    [testId]="testId"
    [title]="'Upload Question Editor'"
    [isVisible]="isUploadPopupVisible"
  ></app-upload-question>
</ng-container>
<ng-container *ngIf="currentUpdatedQuestion">
  <app-update-question
    [closePopupUpdate]="closePopupUpdate"
    [test]="currentUpdatedQuestion"
    [title]="'Update Question Editor'"
    [isVisible]="isUpdatePopupVisible"
  ></app-update-question>
</ng-container>
