<dx-toolbar
  [ngStyle]="{
    paddingLeft: '25px',
    marginBottom: '5px'
  }"
>
  <dxi-item
    [location]="'before'"
    [text]="'Chat Room'"
    style="padding-right: 15px; margin-right: 15px"
  >
  </dxi-item>
</dx-toolbar>
<div class="chat-room-layout">
  <div class="message-list-container">
    <div class="message-history box-shadow">
      <dx-scroll-view
        [direction]="'vertical'"
        [showScrollbar]="true"
        [scrollByContent]="true"
        [scrollByThumb]="true"
        [bounceEnabled]="false"
        [width]="'100%'"
        [height]="'74vh'"
      >
        <ng-container *ngIf="currentFilterByPropertyValue">
          <div class="message-list" *ngFor="let item of messageList">
            <div class="sender neon">{{ item?.sender.displayName }}</div>
            <div class="message-body">
              <dx-html-editor
                [width]="'100%'"
                readOnly="true"
                style="border-radius: 5px"
                [value]="item?.content"
              >
                <dxo-media-resizing [enabled]="true"> </dxo-media-resizing>
              </dx-html-editor>
            </div>
            <div>
              {{
                item?.createdDate
                  ? (item?.createdDate | date: "dd/MM, hh:mm aa")
                  : item?.date
              }}
            </div>
          </div>
        </ng-container>
      </dx-scroll-view>
    </div>
  </div>
  <div class="online-user-container">
    <div class="online-user-header">Member List</div>
    <div class="online-user-list">
      <dx-scroll-view
        [direction]="'vertical'"
        [showScrollbar]="true"
        [scrollByContent]="true"
        [scrollByThumb]="true"
        [width]="'100%'"
        [height]="'58vh'"
      >
        <div class="online-user-body" *ngFor="let item of chatUserList">
          <img
            [src]="mapFileListToUrl(item.id)"
            alt="..."
            style="height: 50px; width: 50px; border-radius: 50px"
          />
          <div class="online-user-name neon">
            {{ item?.displayName }}
          </div>
          <!-- <dx-button
            (onClick)="sendPrivateChatMessage()"
            [icon]="'arrowright'"
          ></dx-button> -->
        </div>
      </dx-scroll-view>
    </div>
    <div class="chat-input-container">
      <div class="avatar">
        <img
          *ngIf="currentUserId"
          [src]="mapFileListToUrl(currentUserId)"
          alt="..."
          style="height: 50px; width: 50px; border-radius: 50px"
        />
        <div class="user-name">
          {{ currentUserDisplayname }}
        </div>
      </div>
      <div class="input-box" style="width: 200px">
        <dx-text-box
          (onValueChanged)="onChatInputChanged($event)"
          [showClearButton]="true"
          (onEnterKey)="onEnterKey()"
          [placeholder]="'Enter message...'"
        >
        </dx-text-box>
        <!-- <dx-button
          (onClick)="sendChatMessage()"
          [icon]="'arrowright'"
        ></dx-button> -->
      </div>
    </div>
  </div>
</div>
