<div
  style="
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: large;
    font-weight: bold;
    user-select: none;
    margin-bottom: 10px;
  "
>
  <span> Patient: {{ checkUpDetail?.customerName }} </span>
  <span> Symptoms: {{ checkUpDetail?.purpose }}</span>
  <span> Doctor: {{ doctorData?.fullName }}</span>
</div>
<div class="checkup-container">
  <div class="box-shadow">
    <p
      [ngClass]="{
        'sortable-header-animation': isMedicineDragging === true,
        'sortable-header': isMedicineDragging === false
      }"
    >
      Medicine
    </p>
    <dx-toolbar [classList]="['kanban-toolbar']">
      <dxi-item
        widget="dxTextBox"
        [options]="searchMedicineBoxOptions"
        location="before"
      >
      </dxi-item>
      <dxi-item
        widget="dxButton"
        [options]="refreshMedicineButtonOptions"
        location="after"
        locateInMenu="auto"
      >
      </dxi-item>
    </dx-toolbar>
    <div id="kanban">
      <dx-scroll-view
        [direction]="'vertical'"
        [pulledDownText]="'...Fetching'"
        [showScrollbar]="true"
        [reachBottomText]="'Loading...'"
        [scrollByContent]="true"
        [height]="sortableHeight"
        (onPullDown)="updateMedicineTopContent($event)"
        (onReachBottom)="updateMedicineBottomContent($event)"
        [scrollByThumb]="true"
      >
        <dx-sortable
          class="sortable-cards"
          group="medicineGroup"
          (onDragStart)="onTaskDragMedicineStart($event)"
          (onDragEnd)="onDragMedicineEnd($event)"
          [data]="medicineList"
          [allowReordering]="false"
        >
          <div
            class="card dx-card dx-theme-text-color dx-theme-background-color"
            *ngFor="let item of medicineList"
          >
            <ng-container *ngIf="item">
              <div
                class="card-priority"
                [ngClass]="'priority-' + item?.priority"
              ></div>
              <div class="card-subject">{{ item?.name }}</div>
              <div class="card-assignee">
                {{ item?.effect }}
              </div>
            </ng-container>
          </div>
        </dx-sortable>
      </dx-scroll-view>
    </div>
  </div>
  <div class="box-shadow">
    <p
      [ngClass]="{
        'sortable-header-animation': isMedicineDragging === true,
        'sortable-header': isMedicineDragging === false
      }"
    >
      Diagnose Medicine
    </p>

    <dx-toolbar [classList]="['kanban-toolbar']">
      <dxi-item
        widget="dxButton"
        [options]="shiftDiagnoseMedicineButtonOptions"
        location="center"
      >
      </dxi-item>
      <dxi-item
        widget="dxButton"
        [options]="deleteAllDiagnoseMedicineButtonOptions"
        location="center"
      >
      </dxi-item>
    </dx-toolbar>
    <div id="kanban">
      <dx-scroll-view
        [direction]="'vertical'"
        [showScrollbar]="true"
        [scrollByContent]="true"
        [scrollByThumb]="true"
        [height]="sortableHeight"
      >
        <dx-sortable
          class="sortable-cards"
          group="medicineGroup"
          [data]="diagnoseMedicineList"
          (onAdd)="onTaskDiagnoseMedicineDrop($event)"
        >
          <div
            class="card dx-card dx-theme-text-color dx-theme-background-color"
            *ngFor="let item of diagnoseMedicineList"
          >
            <ng-container *ngIf="item">
              <div
                class="card-priority"
                [ngClass]="'priority-' + item?.priority"
              ></div>
              <div class="card-subject">{{ item?.name }}</div>
              <div class="card-assignee">
                {{ item?.effect }}
              </div>
              <div class="card-assignee">{{ item?.quantity }} pills</div>
              <div class="card-assignee">
                {{ item?.price | formatCurrency: "$" }}/ 1 pill
              </div>
              <div class="card-assignee">
                {{ item?.totalCost | formatCurrency: "$" }}
              </div>
              <div class="card-assignee">
                {{ item?.advice }}
              </div>
              <dx-toolbar>
                <dxi-item location="after">
                  <dx-button
                    icon="edit"
                    type="normal"
                    text="Edit"
                    hint="Edit medicine"
                    (onClick)="editMedicine(item)"
                  >
                  </dx-button>
                </dxi-item>
                <dxi-item location="before">
                  <dx-button
                    icon="trash"
                    type="normal"
                    text="Delete"
                    hint="Remove medicine"
                    (onClick)="deleteMedicine(item)"
                  >
                  </dx-button>
                </dxi-item>
              </dx-toolbar>
            </ng-container>
          </div>
        </dx-sortable>
      </dx-scroll-view>
    </div>
  </div>
  <div class="box-shadow">
    <p
      [ngClass]="{
        'sortable-header-animation': isDiseaseDragging === true,
        'sortable-header': isDiseaseDragging === false
      }"
    >
      Disease
    </p>
    <dx-toolbar [classList]="['kanban-toolbar']">
      <dxi-item
        widget="dxTextBox"
        [options]="searchDiseaseBoxOptions"
        location="before"
      >
      </dxi-item>
      <dxi-item
        widget="dxButton"
        [options]="refreshDiseaseButtonOptions"
        location="after"
        locateInMenu="auto"
      >
      </dxi-item>
    </dx-toolbar>
    <div id="kanban">
      <dx-scroll-view
        [direction]="'vertical'"
        [pulledDownText]="'...Fetching'"
        [showScrollbar]="true"
        [reachBottomText]="'Loading...'"
        [scrollByContent]="true"
        [scrollByThumb]="true"
        [height]="sortableHeight"
        (onPullDown)="updateDiseaseTopContent($event)"
        (onReachBottom)="updateDiseaseBottomContent($event)"
      >
        <dx-sortable
          class="sortable-cards"
          group="diseaseGroup"
          [allowReordering]="false"
          (onDragStart)="onTaskDragDiseaseStart($event)"
          (onDragEnd)="onDragDiseaseEnd($event)"
          [data]="diseaseList"
        >
          <div
            class="card dx-card dx-theme-text-color dx-theme-background-color"
            *ngFor="let item of diseaseList"
          >
            <ng-container *ngIf="item">
              <div
                class="card-priority"
                [ngClass]="'priority-' + item?.priority"
              ></div>
              <div class="card-subject">{{ item?.name }}</div>
              <div class="card-assignee">
                {{ item?.description }}
              </div>
            </ng-container>
          </div>
        </dx-sortable>
      </dx-scroll-view>
    </div>
  </div>
  <div class="box-shadow">
    <p
      [ngClass]="{
        'sortable-header-animation': isDiseaseDragging === true,
        'sortable-header': isDiseaseDragging === false
      }"
    >
      Diagnose Disease
    </p>
    <dx-toolbar [classList]="['kanban-toolbar']">
      <dxi-item
        widget="dxButton"
        [options]="shiftDiagnoseDiseaseButtonOptions"
        location="center"
      >
      </dxi-item>
      <dxi-item
        widget="dxButton"
        [options]="deleteAllDiagnoseDiseaseButtonOptions"
        location="center"
      >
      </dxi-item>
    </dx-toolbar>
    <div id="kanban">
      <dx-scroll-view
        [direction]="'vertical'"
        [showScrollbar]="true"
        [scrollByContent]="true"
        [scrollByThumb]="true"
        [height]="sortableHeight"
      >
        <dx-sortable
          class="sortable-cards"
          group="diseaseGroup"
          [data]="diagnoseDiseaseList"
          (onAdd)="onTaskDiagnoseDiseaseDrop($event)"
        >
          <div
            class="card dx-card dx-theme-text-color dx-theme-background-color"
            *ngFor="let item of diagnoseDiseaseList"
          >
            <ng-container *ngIf="item">
              <div
                class="card-priority"
                [ngClass]="'priority-' + item?.priority"
              ></div>
              <div class="card-subject">{{ item?.name }}</div>
              <div class="card-assignee">
                {{ item?.degree }} degree of severity
              </div>
              <div class="card-assignee">
                {{ item?.description }}
              </div>
              <dx-toolbar>
                <dxi-item location="after">
                  <dx-button
                    icon="edit"
                    type="normal"
                    text="Edit"
                    hint="Edit disease"
                    (onClick)="editDisease(item)"
                  >
                  </dx-button>
                </dxi-item>
                <dxi-item location="before">
                  <dx-button
                    icon="trash"
                    type="normal"
                    text="Delete"
                    hint="Remove disease"
                    (onClick)="deleteDisease(item)"
                  >
                  </dx-button>
                </dxi-item>
              </dx-toolbar>
            </ng-container>
          </div>
        </dx-sortable>
      </dx-scroll-view>
    </div>
  </div>
</div>
<dx-toolbar>
  <dxi-item location="after" locateInMenu="auto">
    <dx-button
      icon="refresh"
      type="normal"
      text="Reset"
      hint="Revert changes"
      (onClick)="resetValues()"
    >
    </dx-button>
  </dxi-item>
  <dxi-item location="after" locateInMenu="auto">
    <dx-button
      icon="save"
      type="normal"
      text="Save"
      hint="Save diagnose changes"
      (onClick)="submitDiagnose()"
    >
    </dx-button>
  </dxi-item>
</dx-toolbar>
<dx-popup
  [width]="'80%'"
  [height]="'95%'"
  [showTitle]="true"
  [shading]="true"
  [title]="'Medicine Detail'"
  [dragEnabled]="true"
  [closeOnOutsideClick]="false"
  [showCloseButton]="true"
  [(visible)]="isMedicinePopupVisible"
  [position]="'center'"
  [classList]="['popup']"
>
  <div *dxTemplate="let data of 'content'">
    <dx-scroll-view
      width="100%"
      height="100%"
      [bounceEnabled]="true"
      [scrollByContent]="true"
      [scrollByThumb]="true"
    >
      <ng-container *ngIf="addedMedicine">
        <form
          id="form-container"
          (submit)="onMedicineSubmit($event)"
          [classList]="['medicineForm']"
        >
          <dx-form
            id="form"
            [formData]="currentMedicine"
            [showValidationSummary]="true"
            validationGroup="medicineData"
          >
            <dxi-item
              dataField="name"
              [label]="{ text: 'Name' }"
              editorType="dxTextBox"
              [editorOptions]="{ disabled: true }"
            >
            </dxi-item>
            <dxi-item
              dataField="advice"
              [label]="{ text: 'Advice' }"
              editorType="dxTextBox"
            >
            </dxi-item>
            <dxi-item
              dataField="quantity"
              [label]="{ text: 'Quantity' }"
              editorType="dxNumberBox"
            >
              <dxi-validation-rule
                type="required"
                message="Quantity is required"
              >
              </dxi-validation-rule>
              <dxi-validation-rule
                type="range"
                message="No less than 1 pill!"
                [min]="1"
              >
              </dxi-validation-rule>
            </dxi-item>
            <dxi-item name="effect">
              <dxo-label text="Effect"></dxo-label>
              <div *dxTemplate>
                <div class="responsive-field">
                  {{ currentMedicine?.effect }}
                </div>
              </div>
            </dxi-item>
            <dxi-item
              itemType="group"
              [colCount]="2"
              [cssClass]="'buttonGroup'"
            >
              <dxi-item
                itemType="button"
                horizontalAlignment="center"
                [buttonOptions]="submitMedicineButtonOptions"
              >
              </dxi-item>
              <dxi-item
                itemType="button"
                horizontalAlignment="center"
                [buttonOptions]="resetMedicineButtonOptions"
              >
              </dxi-item>
            </dxi-item>
          </dx-form>
        </form>
      </ng-container>
    </dx-scroll-view>
  </div>
</dx-popup>
<dx-popup
  [width]="'80%'"
  [height]="'95%'"
  [showTitle]="true"
  [shading]="true"
  [title]="'Disease Detail'"
  [dragEnabled]="true"
  [closeOnOutsideClick]="false"
  [showCloseButton]="true"
  [(visible)]="isDiseasePopupVisible"
  [position]="'center'"
  [classList]="['popup']"
>
  <div *dxTemplate="let data of 'content'">
    <dx-scroll-view
      width="100%"
      height="100%"
      [bounceEnabled]="true"
      [scrollByContent]="true"
      [scrollByThumb]="true"
    >
      <ng-container *ngIf="addedDisease">
        <form
          id="form-container"
          (submit)="onDiseaseSubmit($event)"
          [classList]="['medicineForm']"
        >
          <dx-form
            id="form"
            [formData]="currentDisease"
            [showValidationSummary]="true"
            validationGroup="diseaseData"
          >
            <dxi-item
              dataField="name"
              [label]="{ text: 'Name' }"
              editorType="dxTextBox"
              [editorOptions]="{ disabled: true }"
            >
            </dxi-item>
            <dxi-item
              dataField="degree"
              [label]="{ text: 'Severity' }"
              editorType="dxSelectBox"
              [editorOptions]="degree"
            >
              <dxi-validation-rule
                type="required"
                message="Severity is required"
              >
              </dxi-validation-rule>
            </dxi-item>
            <dxi-item name="description">
              <dxo-label text="Description"></dxo-label>
              <div *dxTemplate>
                <div class="responsive-field">
                  {{ currentDisease?.description }}
                </div>
              </div>
            </dxi-item>
            <dxi-item
              itemType="group"
              [colCount]="2"
              [cssClass]="'buttonGroup'"
            >
              <dxi-item
                itemType="button"
                horizontalAlignment="center"
                [buttonOptions]="submitDiseaseButtonOptions"
              >
              </dxi-item>
              <dxi-item
                itemType="button"
                horizontalAlignment="center"
                [buttonOptions]="resetDiseaseButtonOptions"
              >
              </dxi-item>
            </dxi-item>
          </dx-form>
        </form>
      </ng-container>
    </dx-scroll-view>
  </div>
</dx-popup>
