<dx-scroll-view
  [bounceEnabled]="true"
  [scrollByContent]="true"
  [scrollByThumb]="true"
>
  <div class="img-container">
    <img [src]="fileData?.url" alt="..." />
  </div>
  <form id="instructor-form-container" [classList]="['instructor-form']">
    <dx-form id="instructor-form" [formData]="instructorData" [readOnly]="true">
      <dxi-item itemType="group" caption="Personal Information">
        <dxi-item name="fullName">
          <dxo-label text="Full Name"></dxo-label>
          <div *dxTemplate>
            <div class="responsive-field">
              {{ instructorData?.fullName }}
            </div>
          </div>
        </dxi-item>
        <dxi-item name="email">
          <dxo-label text="Email"></dxo-label>
          <div *dxTemplate>
            <div class="responsive-field">
              {{ instructorData?.email }}
            </div>
          </div>
        </dxi-item>
        <!-- <dxi-item name="gender">
          <dxo-label text="Gender"></dxo-label>
          <div *dxTemplate>
            <div class="responsive-field">
              {{
                instructorData?.gender === "0"
                  ? "Male"
                  : instructorData?.gender === "1"
                  ? "Female"
                  : "Not mentioned"
              }}
            </div>
          </div>
        </dxi-item> -->
        <!-- <dxi-item name="dateOfBirth">
          <dxo-label text="Birthdate"></dxo-label>
          <div *dxTemplate>
            <div class="responsive-field">
              {{ instructorData?.dateOfBirth | date }}
            </div>
          </div>
        </dxi-item> -->
        <dxi-item name="address">
          <dxo-label text="Address"></dxo-label>
          <div *dxTemplate>
            <div class="responsive-field">
              {{ instructorData?.address }}
            </div>
          </div>
        </dxi-item>
        <dxi-item name="phone">
          <dxo-label text="Phone"></dxo-label>
          <div *dxTemplate>
            <div class="responsive-field">
              {{ instructorData?.phone }}
            </div>
          </div>
        </dxi-item>
        <dxi-item name="description">
          <dxo-label text="Biography"></dxo-label>
          <div *dxTemplate>
            <div class="responsive-field">
              {{ instructorData?.bio }}
            </div>
          </div>
        </dxi-item>
      </dxi-item>
    </dx-form>
  </form>
</dx-scroll-view>
