<div class="answer-input">
  <div class="avatar">
    <div class="user-name">Answer List</div>
  </div>
  <div class="button-group">
    <dx-button
      icon="plus"
      hint="Click to add answer"
      type="normal"
      (onClick)="uploadAnswer()"
    ></dx-button>
    <dx-button
      icon="refresh"
      hint="Click to refresh answer list"
      type="normal"
      (onClick)="refresh()"
    ></dx-button>
  </div>
</div>
<div class="answer-count" *ngIf="answerCount == 0">
  No answer added yet. Please insert a new one.
</div>
<ng-container *ngIf="answerList.length">
  <div class="answer-count" *ngIf="answerCount !== 0">
    Showing {{ answerCount }} answers
  </div>
  <dx-scroll-view
    [direction]="'vertical'"
    [showScrollbar]="true"
    [scrollByContent]="true"
    [scrollByThumb]="true"
    [height]="'100%'"
  >
    <div class="answer-body" *ngFor="let item of answerList; index as i">
      <div class="avatar">
        <div class="user-name neon">
          {{ (i + 1 + 9).toString(36).toUpperCase() }}
        </div>
        <div class="post-date">
          {{ item?.isCorrect ? "Correct" : "Incorrect" }}
        </div>
      </div>
      <div class="answer-content">
        <dx-html-editor
          readOnly="true"
          [value]="item?.content"
          [width]="'100%'"
          [height]="'200px'"
        >
          <dxo-media-resizing [enabled]="true"> </dxo-media-resizing>
        </dx-html-editor>
      </div>
      <div class="button-group">
        <dx-button
          icon="edit"
          hint="Click to edit answer"
          type="normal"
          (onClick)="updateAnswer(item)"
        ></dx-button>
        <dx-button
          icon="trash"
          hint="Click to delete answer"
          type="normal"
          (onClick)="deleteAnswer(item)"
        ></dx-button>
      </div>
    </div>
  </dx-scroll-view>
</ng-container>
<ng-container *ngIf="currentFilterByPropertyValue">
  <app-upload-answer
    [closePopupCreate]="closePopupCreate"
    [questionId]="currentFilterByPropertyValue"
    [title]="'Create Answer Tool'"
    [isVisible]="isCreatePopupVisible"
  ></app-upload-answer>
</ng-container>

<ng-container *ngIf="currentUpdatedAnswer">
  <app-update-answer
    [closePopupUpdate]="closePopupUpdate"
    [answer]="currentUpdatedAnswer"
    [title]="'Update Answer Tool'"
    [isVisible]="isUpdatePopupVisible"
  ></app-update-answer>
</ng-container>
