.answer-input {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  border-bottom: ridge rgb(248, 251, 255) 3px;
}

.answer-input .user-name {
  font-size: medium;
  font-weight: bold;
}

.answer-input .post-date {
  font-size: x-small;
  font-family: monospace;
}

.answer-input .avatar {
  height: 50px;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.answer-count {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: medium;
  font-weight: bold;
  color: rgb(183, 204, 243);
  background-color: rgba(215, 130, 255, 0.432);
  border-radius: 5px;
  height: 20px;
  backdrop-filter: blur(5px);
}
.answer-body {
  width: 100%;
  margin: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
  border-bottom: dotted rgb(92, 168, 255) 3px;
}

.answer-body .user-name {
  font-size: small;
  font-weight: bold;
}

.answer-body .post-date {
  font-size: x-small;
  font-family: monospace;
}

.answer-body .avatar {
  height: 50px;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.answer-body .answer-content {
  font-size: medium;
  font-family: Hero;
  font-weight: bold;
  display: flex;
  width: 65%;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
