<dx-toolbar [ngStyle]="{ paddingLeft: '25px', paddingRight: '25px' }">
  <dxi-item [location]="'before'" [text]="'Post Mananagement'"> </dxi-item>
  <dxi-item
    location="center"
    locateInMenu="auto"
    [visible]="isSelectInfoVisible"
  >
    <div *dxTemplate>
      <div style="font-size: small">{{ selectInfoText }}</div>
    </div>
  </dxi-item>
  <dxi-item location="center" locateInMenu="auto">
    <dx-button
      icon="trash"
      type="danger"
      [visible]="isSelectInfoVisible"
      hint="Delete current selected items"
      (onClick)="deleteSelectedItems()"
    >
    </dx-button>
  </dxi-item>
</dx-toolbar>
<ng-container *ngIf="subjectList.length !== 0">
  <dx-data-grid
    id="gridContainer"
    [dataSource]="postList"
    keyExpr="id"
    [showBorders]="true"
    [allowColumnReordering]="true"
    [rowAlternationEnabled]="true"
    [columnHidingEnabled]="true"
    [(selectedRowKeys)]="selectedRows"
    [sorting]="false"
    (onOptionChanged)="onOptionChanged($event)"
    (onSelectionChanged)="selectionChangedHandler()"
    (onEditingStart)="onEditingStart()"
    (onInitNewRow)="onInitNewRow()"
    (onSaved)="onSaved($event)"
    (onEditCanceled)="onEditCanceled()"
    (onToolbarPreparing)="onToolbarPreparing($event)"
  >
    <dxo-editing
      [allowUpdating]="true"
      [allowDeleting]="true"
      [allowAdding]="true"
      [useIcons]="true"
      [selectTextOnEditStart]="true"
    >
    </dxo-editing>
    <dxo-selection
      [selectAllMode]="'page'"
      [showCheckBoxesMode]="'onClick'"
      mode="multiple"
    ></dxo-selection>
    <dxo-grouping
      [contextMenuEnabled]="true"
      expandMode="rowClick"
    ></dxo-grouping>
    <dxo-column-chooser [enabled]="true" mode="select"></dxo-column-chooser>
    <dxo-paging [pageSize]="pageSize"> </dxo-paging>

    <dxo-pager
      [visible]="true"
      [displayMode]="'adaptive'"
      [allowedPageSizes]="allowedPageSizes"
      [showPageSizeSelector]="true"
      [showNavigationButtons]="true"
    >
    </dxo-pager>
    <dxo-load-panel [enabled]="true"></dxo-load-panel>

    <dxi-column dataField="title">
      <dxi-validation-rule type="required"></dxi-validation-rule>
    </dxi-column>
    <dxi-column dataField="content">
      <dxi-validation-rule type="required"></dxi-validation-rule>
    </dxi-column>
    <dxi-column dataField="userAccountId">
      <dxi-validation-rule type="required"></dxi-validation-rule>
    </dxi-column>
    <dxi-column dataField="courseId">
      <dxi-validation-rule type="required"></dxi-validation-rule>
    </dxi-column>
    <div *dxTemplate="let data of 'totalPostCount'">
      <span>Total Post: {{ postList.length }} </span>
    </div>
  </dx-data-grid>
</ng-container>
