@media screen and (max-width: 450px) {
  .photo-popup-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    font-size: large;
  }
  .photo-popup-loading {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    font-size: large;
    background-color: rgba(0, 0, 0, 0.514);
    filter: blur(2rem);
    animation: color-change 3s infinite;
  }
}
@media screen and (min-width: 451px) {
  .photo-popup-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    font-size: large;
  }
  .photo-popup-loading {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    font-size: large;
    background-color: rgba(0, 0, 0, 0.514);
    filter: blur(2rem);
    animation: color-change 3s infinite alternate;
  }
}
@keyframes color-change {
  from {
    background-color: red;
  }
  to {
    background-color: blue;
  }
}
