.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-container .card {
  // min-height: 200px;
  margin: 10px;
  padding: 15px;
  background-color: rgba(59, 21, 65, 0.486);
  border-radius: 10px;
  border: 2px solid rgb(165, 173, 243);
  box-shadow: rgba(226, 121, 252, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  width: 95%;
  transition: all ease-in-out 0.5s;
}

//

.card-container .card .card-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 110px;
  border-bottom: dotted rgb(92, 168, 255) 3px;
}

.card-container .card .card-header .user-name {
  font-size: medium;
  font-weight: bold;
}

.card-container .card .card-header .post-date {
  font-size: small;
  font-family: monospace;
}

.card-container .card .card-header .avatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.card-container .card .card-title {
  font-size: large;
  font-weight: bold;
  text-align: center;
}

.card-container .card .card-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-container .card .card-body {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.card-container .card .card-body .post-content {
  width: 60%;
  border-right: dotted rgb(214, 231, 252) 3px;
}

.card-container .card .card-body .post-content .card-img {
  width: 100%;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container .card .card-body .post-comment {
  width: 40%;
  margin-left: 15px;
}

.post-util {
  width: 150px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.button-group {
  width: 50px;
  font-size: x-small;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
