<dx-toolbar [ngStyle]="{ paddingLeft: '25px', paddingRight: '25px' }">
  <dxi-item [location]="'before'" [text]="'User Info Mananagement'"> </dxi-item>
  <dxi-item
    location="center"
    locateInMenu="auto"
    [visible]="isSelectInfoVisible"
  >
    <div *dxTemplate>
      <div style="font-size: small">{{ selectInfoText }}</div>
    </div>
  </dxi-item>
  <dxi-item location="center" locateInMenu="auto">
    <dx-button
      icon="trash"
      type="danger"
      [visible]="isSelectInfoVisible"
      hint="Delete current selected items"
      (onClick)="deleteSelectedItems()"
    >
    </dx-button>
  </dxi-item>
  <dxi-item location="after" locateInMenu="auto">
    <dx-button
      icon="arrowright"
      type="outline"
      text="Subject Management"
      hint="Navigate to Edit Subject"
      (onClick)="navigateToEditSubject()"
    >
    </dx-button>
  </dxi-item>
</dx-toolbar>
<ng-container *ngIf="genderList.length !== 0">
  <dx-data-grid
    id="gridContainer"
    [dataSource]="userInfoList"
    keyExpr="id"
    [showBorders]="true"
    [allowColumnReordering]="true"
    [rowAlternationEnabled]="true"
    [columnHidingEnabled]="true"
    [(selectedRowKeys)]="selectedRows"
    [sorting]="false"
    (onOptionChanged)="onOptionChanged($event)"
    (onSelectionChanged)="selectionChangedHandler()"
    (onEditingStart)="onEditingStart()"
    (onInitNewRow)="onInitNewRow()"
    (onSaved)="onSaved($event)"
    (onEditCanceled)="onEditCanceled()"
    (onToolbarPreparing)="onToolbarPreparing($event)"
  >
    <dxo-editing
      [allowUpdating]="true"
      [allowDeleting]="true"
      [allowAdding]="true"
      [useIcons]="true"
      [selectTextOnEditStart]="true"
    >
    </dxo-editing>
    <dxo-selection
      [selectAllMode]="'page'"
      [showCheckBoxesMode]="'onClick'"
      mode="multiple"
    ></dxo-selection>
    <dxo-grouping
      [contextMenuEnabled]="true"
      expandMode="rowClick"
    ></dxo-grouping>
    <dxo-column-chooser [enabled]="true" mode="select"></dxo-column-chooser>
    <dxo-paging [pageSize]="pageSize"> </dxo-paging>

    <dxo-pager
      [visible]="true"
      [displayMode]="'adaptive'"
      [allowedPageSizes]="allowedPageSizes"
      [showPageSizeSelector]="true"
      [showNavigationButtons]="true"
    >
    </dxo-pager>
    <dxo-load-panel [enabled]="true"></dxo-load-panel>

    <dxi-column dataField="fullName" caption="Full Name"> </dxi-column>

    <dxi-column dataField="gender" [caption]="'Gender'">
      <dxi-validation-rule type="required"></dxi-validation-rule>
      <dxo-lookup [dataSource]="genderList" displayExpr="name" valueExpr="id">
      </dxo-lookup>
    </dxi-column>

    <dxi-column dataField="dateOfBirth" caption="Date Of Birth" dataType="date">
    </dxi-column>

    <dxi-column dataField="phone" caption="Phone"> </dxi-column>

    <dxi-column dataField="email" caption="Email"> </dxi-column>

    <dxi-column dataField="address" caption="Address"> </dxi-column>

    <dxi-column dataField="bio" caption="Bio"> </dxi-column>

    <ng-container *ngIf="isAddingNewRow">
      <dxi-column dataField="userAccountId" [width]="150" caption="User Acc ID">
      </dxi-column>
    </ng-container>

    <div *dxTemplate="let data of 'totalUserInfoCount'">
      <span>Total UserInfo: {{ userInfoList.length }} </span>
    </div>
  </dx-data-grid>
</ng-container>
