.message-list {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  margin-bottom: 15px;
  padding-right: 10px;
}

.neon {
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #9dd7e6,
    0 0 20px rgb(123, 163, 204);
}

.message-body {
  text-align: end;
  font-weight: bold;
  padding: 15px;
  font-size: small;
  border-radius: 10px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  width: 100%;
  background-color: rgba(59, 21, 65, 0.486);
  border-radius: 10px;
  border: 2px solid rgb(165, 173, 243);
  color: rgb(255, 249, 249);
}

.chat-message-container {
  position: fixed;
  right: 15px;
  bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 60%;
}
.chat-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
