<dx-popup
  id="chat-shortcut-popup"
  [title]="title"
  [showTitle]="true"
  [shading]="true"
  [position]="'right'"
  [showCloseButton]="true"
  [dragEnabled]="true"
  [height]="'80%'"
  (onHiding)="closePopupChat()"
  [width]="'35%'"
  [visible]="isVisible"
>
  <div *dxTemplate="let data of 'content'">
    <dx-scroll-view
      [scrollByContent]="true"
      [scrollByThumb]="true"
      bounceEnabled="true"
      [height]="'92%'"
      [width]="'100%'"
    >
      <div
        [ngClass]="{
          'message-list': item?.isPrivate === false || undefined,
          'private-message-list': item?.isPrivate === true
        }"
        *ngFor="let item of chatMessageList | removeFilterUser"
      >
        <div class="neon">
          {{
            item?.receiveUserEntry
              ? "Sent to " + item?.receiveUserEntry.displayName
              : "From " + item?.userEntry.displayName
          }}
        </div>
        <div class="message-body">
          <dx-html-editor
            readOnly="true"
            [value]="item?.message"
            [height]="'90%'"
            [width]="'90%'"
          >
            <dxo-media-resizing [enabled]="true"> </dxo-media-resizing>
          </dx-html-editor>
        </div>
        <div>{{ item?.date }}</div>
      </div>
    </dx-scroll-view>
    <div class="chat-input-container">
      <dx-text-box
        (onValueChanged)="onChatInputChanged($event)"
        [showClearButton]="true"
        (onEnterKey)="onEnterKey()"
        [placeholder]="'Enter a message'"
      >
        <!-- [placeholder]="
          userEntry.id === receiveUserEntry.id ? 'To All' : 'To Private'
        " -->
      </dx-text-box>
      <dx-select-box
        *ngIf="receiverFilterList"
        (onValueChanged)="onReceiverChanged($event)"
        [displayExpr]="'displayName'"
        [valueExpr]="'id'"
        [dataSource]="receiverFilterList"
        [placeholder]="'Select receiver'"
        [value]="receiverFilterList[0]?.id"
        style="width: 35%"
      >
        <!-- [value]="chatUserList[0]" -->
      </dx-select-box>
      <dx-button
        (onClick)="sendChatMessage()"
        [icon]="'arrowright'"
      ></dx-button>
    </div>
  </div>
</dx-popup>
