<dx-scroll-view
  [bounceEnabled]="true"
  [scrollByContent]="true"
  [scrollByThumb]="true"
>
  <div class="img-container">
    <img [src]="imageData?.url" alt="..." />
  </div>
  <form id="subject-form-container" [classList]="['subject-form']">
    <dx-form id="subject-form" [formData]="subjectData" [readOnly]="true">
      <dxi-item itemType="group" caption="Personal Information">
        <dxi-item name="fullName">
          <dxo-label text="Full Name"></dxo-label>
          <div *dxTemplate>
            <div class="responsive-field">
              {{ subjectData?.name }}
            </div>
          </div>
        </dxi-item>
      </dxi-item>
    </dx-form>
  </form>
</dx-scroll-view>
