<ng-container *ngIf="questionList.length">
  <div class="question-body" *ngFor="let item of questionList; index as i">
    <div class="question-content">
      <div class="question-number">
        {{ i + 1 + pageSize * (currentPage - 1) }}
      </div>
      <dx-html-editor readOnly="true" [value]="item?.content" [width]="'100%'">
        <dxo-media-resizing [enabled]="true"> </dxo-media-resizing>
      </dx-html-editor>
    </div>
    <div class="answer-container">
      <app-answer-list
        [questionId]="item?.id"
        [question]="item"
      ></app-answer-list>
    </div>
  </div>
</ng-container>
