<dx-toolbar [ngStyle]="{ paddingLeft: '25px', paddingRight: '25px' }">
  <dxi-item [location]="'before'" [text]="'Course Mananagement'"> </dxi-item>
  <dxi-item
    location="center"
    locateInMenu="auto"
    [visible]="isSelectInfoVisible"
  >
    <div *dxTemplate>
      <div style="font-size: small">{{ selectInfoText }}</div>
    </div>
  </dxi-item>
  <dxi-item location="center" locateInMenu="auto">
    <dx-button
      icon="trash"
      type="danger"
      [visible]="isSelectInfoVisible"
      hint="Delete current selected items"
      (onClick)="deleteSelectedItems()"
    >
    </dx-button>
  </dxi-item>
  <dxi-item location="after" locateInMenu="auto">
    <dx-button
      icon="arrowright"
      type="outline"
      text="Statistics"
      hint="Navigate to Statistics"
      (onClick)="navigateToStatistics()"
    >
    </dx-button>
  </dxi-item>
</dx-toolbar>
<dx-data-grid
  id="gridContainer"
  [dataSource]="courseList"
  keyExpr="id"
  [showBorders]="true"
  [allowColumnReordering]="true"
  [rowAlternationEnabled]="true"
  [columnHidingEnabled]="true"
  [(selectedRowKeys)]="selectedRows"
  [sorting]="false"
  (onOptionChanged)="onOptionChanged($event)"
  (onSelectionChanged)="selectionChangedHandler()"
  (onEditingStart)="onEditingStart()"
  (onInitNewRow)="onInitNewRow()"
  (onSaved)="onSaved($event)"
  (onEditCanceled)="onEditCanceled()"
  (onToolbarPreparing)="onToolbarPreparing($event)"
>
  <dxo-editing
    [allowUpdating]="true"
    [allowDeleting]="true"
    [allowAdding]="true"
    [useIcons]="true"
    [selectTextOnEditStart]="true"
  >
  </dxo-editing>
  <dxo-selection
    [selectAllMode]="'page'"
    [showCheckBoxesMode]="'onClick'"
    mode="multiple"
  ></dxo-selection>
  <dxo-grouping
    [contextMenuEnabled]="true"
    expandMode="rowClick"
  ></dxo-grouping>
  <dxo-column-chooser [enabled]="true" mode="select"></dxo-column-chooser>
  <dxo-paging [pageSize]="pageSize"> </dxo-paging>

  <dxo-pager
    [visible]="true"
    [displayMode]="'adaptive'"
    [allowedPageSizes]="allowedPageSizes"
    [showPageSizeSelector]="true"
    [showNavigationButtons]="true"
  >
  </dxo-pager>
  <dxo-load-panel [enabled]="true"></dxo-load-panel>

  <dxi-column dataField="name">
    <dxi-validation-rule type="required"></dxi-validation-rule>
  </dxi-column>
  <dxi-column dataField="summary">
    <dxi-validation-rule type="required"></dxi-validation-rule>
  </dxi-column>
  <dxi-column dataField="duration">
    <dxi-validation-rule type="required"></dxi-validation-rule>
  </dxi-column>
  <dxi-column dataField="description">
    <dxi-validation-rule type="required"></dxi-validation-rule>
  </dxi-column>
  <dxi-column dataField="availableSlot">
    <dxi-validation-rule type="required"></dxi-validation-rule>
  </dxi-column>
  <dxi-column dataField="maxSlot">
    <dxi-validation-rule type="required"></dxi-validation-rule>
  </dxi-column>
  <dxi-column dataField="rating">
    <dxi-validation-rule type="required"></dxi-validation-rule>
  </dxi-column>
  <dxi-column dataField="feedback">
    <dxi-validation-rule type="required"></dxi-validation-rule>
  </dxi-column>
  <dxi-column dataField="ratingCount">
    <dxi-validation-rule type="required"></dxi-validation-rule>
  </dxi-column>
  <dxi-column dataField="cost">
    <dxi-validation-rule type="required"></dxi-validation-rule>
  </dxi-column>
  <dxi-column dataField="subjectId">
    <dxi-validation-rule type="required"></dxi-validation-rule>
  </dxi-column>
  <dxi-column dataField="instructorId">
    <dxi-validation-rule type="required"></dxi-validation-rule>
  </dxi-column>
  <div *dxTemplate="let data of 'totalCourseCount'">
    <span>Total Course: {{ courseList.length }} </span>
  </div>
</dx-data-grid>
