<h2 class="title" #title>Welcome To T.A.S Online</h2>
<h2 class="subtitle" #subtitle>
  Highly interactive online learning and teaching assistant platform
</h2>
<div class="background">
  <h2 class="feature-heading">For Learners</h2>
  <div class="organization-container" #organization1>
    <div class="organization-img box-shadow">
      <dx-gallery
        [dataSource]="learnerFeature"
        [slideshowDelay]="slideshowDelay"
        [loop]="true"
        [showNavButtons]="true"
        [showIndicator]="true"
      >
        <div *dxTemplate="let galleryItem of 'item'">
          <div class="img-container">
            <img class="gallery-image" src="{{ galleryItem.imgUrl }}" />
          </div>
        </div>
      </dx-gallery>
    </div>
    <div class="organization-content">
      <div class="title-container box-shadow">
        <div class="feature-title">Streaming</div>
        <div class="feature-body">
          Face-to-face video, audio streaming with many useful controls
        </div>
      </div>
      <div class="title-container box-shadow">
        <div class="feature-title">Interaction</div>
        <div class="feature-body">
          Real time lesson interaction with chat message and command UI
        </div>
      </div>
      <div class="title-container box-shadow">
        <div class="feature-title">Online Payment</div>
        <div class="feature-body">Pay at home. Get courses at ease.</div>
      </div>
    </div>
  </div>
  <h2 class="feature-heading">For Instructors</h2>
  <div class="organization-container" #organization1>
    <div class="organization-img box-shadow">
      <dx-gallery
        [dataSource]="instructorFeature"
        [slideshowDelay]="slideshowDelay"
        [loop]="true"
        [showNavButtons]="true"
        [showIndicator]="true"
      >
        <div *dxTemplate="let galleryItem of 'item'">
          <div class="img-container">
            <img class="gallery-image" src="{{ galleryItem.imgUrl }}" />
          </div>
        </div>
      </dx-gallery>
    </div>
    <div class="organization-content">
      <div class="title-container box-shadow">
        <div class="feature-title">Creativity</div>
        <div class="feature-body">
          Creating lessons, tests with easy HTML editor with full of tools
        </div>
      </div>
      <div class="title-container box-shadow">
        <div class="feature-title">Easy Assessment</div>
        <div class="feature-body">
          Real time lesson interaction with learners and stream management
        </div>
      </div>
      <div class="title-container box-shadow">
        <div class="feature-title">Full Asset Control</div>
        <div class="feature-body">
          Create and download files with Google Drive-like storage management
        </div>
      </div>
    </div>
  </div>
  <h2 class="feature-heading">Organization</h2>
  <div class="organization-container" #organization1>
    <div class="organization-img">
      <img
        src="../../../../assets/imgs/tesla_director.jpg"
        alt="..."
        style="
          height: 300px;
          width: 300px;
          border-radius: 300px;
          box-shadow: rgba(79, 205, 255, 0.25) 0px 25px 50px -12px;
        "
      />
    </div>
    <div class="organization-content">
      <div class="feature-title">Le Bao Anh</div>
      <div class="feature-body">Frontend Developer</div>
    </div>
  </div>
  <div class="organization-container" #organization2>
    <div class="organization-img">
      <img
        src="../../../../assets/imgs/tesla_director.jpg"
        alt="..."
        style="
          height: 300px;
          width: 300px;
          border-radius: 300px;
          box-shadow: rgba(79, 205, 255, 0.25) 0px 25px 50px -12px;
        "
      />
    </div>
    <div class="organization-content">
      <div class="feature-title">Ha Tan Loc</div>
      <div class="feature-body">Backend Developer.</div>
    </div>
  </div>

  <div class="footer">
    <h2>@{{ date }}. T. A. S Online</h2>
  </div>
</div>
