<div
  [ngClass]="{
    'photo-popup-content': isUploading === false,
    'photo-popup-loading': isUploading === true
  }"
>
  <dx-tile-view
    [dataSource]="imageList"
    itemTemplate="uploadedImages"
    [baseItemHeight]="250"
    [baseItemWidth]="200"
    [itemMargin]="10"
    [width]="'100%'"
    [height]="'100%'"
    [direction]="'vertical'"
  >
    <div class="tile" *dxTemplate="let data of 'uploadedImages'">
      <p style="font-size: small">
        <b>Name: {{ data?.fileName }}</b>
      </p>
      <p style="font-size: small">
        Size: <i>{{ data?.fileSize }} byte</i>
      </p>
      <div class="img-container">
        <img [src]="data?.url" />
      </div>
    </div>
  </dx-tile-view>
  <div class="container">
    <form
      id="form-container"
      (submit)="onSubmit($event)"
      [classList]="['upload-form']"
    >
      <dx-form
        id="form"
        [showValidationSummary]="true"
        validationGroup="uploadBatch"
      >
        <dxi-item itemType="group">
          <dxi-item itemType="group" caption="Batch Upload">
            <dxi-item name="directory">
              <dxo-label text="Current Directory"> </dxo-label>
              <div *dxTemplate>
                <div style="font-size: large">
                  {{ directory }}
                </div>
              </div>
            </dxi-item>
            <dxi-item name="avatar">
              <div *dxTemplate>
                <div class="image-container">
                  <input
                    class="img-input"
                    type="file"
                    [multiple]="true"
                    id="img"
                    accept="image/*"
                    (change)="handleInputChange($event)"
                  />
                </div>
              </div>
            </dxi-item>
            <dxi-item
              itemType="group"
              [colCount]="2"
              [cssClass]="'buttonGroup'"
            >
              <dxi-item
                itemType="button"
                horizontalAlignment="center"
                [buttonOptions]="submitButtonOptions"
              >
              </dxi-item>
              <dxi-item
                itemType="button"
                horizontalAlignment="center"
                [buttonOptions]="resetButtonOptions"
              >
              </dxi-item>
            </dxi-item>
          </dxi-item>
        </dxi-item>
      </dx-form>
    </form>
  </div>
</div>
