<div
  [ngClass]="{
    'photo-popup-content': isUploading === false,
    'photo-popup-loading': isUploading === true
  }"
>
  <div class="img-container">
    <img [src]="fileData?.url" alt="..." />
  </div>
  <div class="container">
    <form
      id="form-container"
      (submit)="onSubmit($event)"
      [classList]="['upload-form']"
    >
      <dx-form
        id="form"
        [formData]="fileData"
        [showValidationSummary]="true"
        validationGroup="uploadFile"
      >
        <dxi-item itemType="group">
          <dxi-item itemType="group" caption="File Meta Data">
            <dxi-item name="category">
              <dxo-label text="Category"> </dxo-label>
              <div *dxTemplate>
                <dx-select-box
                  [dataSource]="categoryList"
                  [value]="fileData?.category"
                  valueExpr="name"
                  displayExpr="name"
                  placeholder="Select a category"
                  (onValueChanged)="onCategoryValueChanged($event)"
                >
                </dx-select-box>
              </div>
            </dxi-item>
            <dxi-item name="auto-complete">
              <dxo-label [text]="searchCategory"></dxo-label>
              <div *dxTemplate>
                <dx-autocomplete
                  [placeholder]="searchPlaceholder"
                  [(value)]="searchValue"
                  (onKeyUp)="onSearchKeyUpHandler($event)"
                  [dataSource]="searchData"
                  [opened]="isOpenSuggestion"
                  [valueExpr]="valueExpr"
                  (onItemClick)="onItemClick($event)"
                >
                </dx-autocomplete>
              </div>
            </dxi-item>
            <dxi-item
              dataField="sourceID"
              [label]="{ text: 'Source ID' }"
              editorType="dxTextBox"
            >
              <dxi-validation-rule
                type="required"
                message="Source id is required"
              >
              </dxi-validation-rule>
            </dxi-item>
            <dxi-item name="fileName">
              <dxo-label text="File Name"> </dxo-label>
              <div *dxTemplate>
                <div>{{ fileData?.fileName }}/</div>
              </div>
            </dxi-item>
            <dxi-item
              dataField="title"
              [label]="{ text: 'Title' }"
              editorType="dxTextBox"
            >
              <dxi-validation-rule type="required" message="Title is required">
              </dxi-validation-rule>
            </dxi-item>

            <dxi-item
              itemType="group"
              [colCount]="2"
              [cssClass]="'buttonGroup'"
            >
              <dxi-item
                itemType="button"
                horizontalAlignment="center"
                [buttonOptions]="submitButtonOptions"
              >
              </dxi-item>
              <dxi-item
                itemType="button"
                horizontalAlignment="center"
                [buttonOptions]="resetButtonOptions"
              >
              </dxi-item>
            </dxi-item>
          </dxi-item>
        </dxi-item>
      </dx-form>
    </form>
  </div>
</div>
