<dx-popup
  class="login-popup"
  [visible]="isLoginPopupVisible"
  [height]="'75%'"
  [width]="'35%'"
  [showTitle]="false"
  [shading]="true"
  [dragEnabled]="true"
  [closeOnOutsideClick]="true"
  [showCloseButton]="false"
  (onHiding)="closeLoginPopup()"
>
  <div *dxTemplate="let data of 'content'">
    <!-- <dx-scroll-view
      [bounceEnabled]="true"
      [scrollByContent]="true"
      [scrollByThumb]="true"
    > -->
    <div class="login-container">
      <form
        (submit)="onLoginSubmit($event)"
        [ngClass]="{
          corner_box_animation: isLoading === true,
          loginForm: isLoading === false
        }"
      >
        <div class="long-title">
          <h3>Login</h3>
        </div>
        <dx-form
          id="form"
          (onContentReady)="onFormShown($event)"
          [formData]="user"
          [readOnly]="false"
          [showColonAfterLabel]="true"
          [showValidationSummary]="true"
          [scrollingEnabled]="true"
          validationGroup="userLoginData"
        >
          <dxi-item itemType="group" caption="Account Information">
            <dxi-item dataField="username" [label]="{ text: 'Username' }">
              <dxi-validation-rule
                type="required"
                message="Username is required"
              >
              </dxi-validation-rule>
            </dxi-item>
            <dxi-item
              dataField="password"
              [label]="{ text: 'Password' }"
              [editorOptions]="{ mode: 'password' }"
            >
              <dxi-validation-rule
                type="required"
                message="Password is required"
              >
              </dxi-validation-rule>
            </dxi-item>
          </dxi-item>
          <dxi-item itemType="group" [colCount]="2" [cssClass]="'buttonGroup'">
            <dxi-item
              itemType="button"
              horizontalAlignment="center"
              [buttonOptions]="loginButtonOptions"
            >
            </dxi-item>
            <dxi-item
              itemType="button"
              horizontalAlignment="center"
              [buttonOptions]="signupButtonOptions"
            >
            </dxi-item>
          </dxi-item>
        </dx-form>
      </form>
    </div>
    <!-- </dx-scroll-view> -->
  </div>
</dx-popup>
